[2021-02-12 22:09] krasny2k5 commented on #518
Hi!

I'm not sure if I understood correctly your problem, so sorry if not.

Stampede's CPU Intel(R) Xeon(R) Platinum 8160 CPU @ 2.10GHz has a total of 24 cores and 48 threads per processor (you can check it [here](https://ark.intel.com/content/www/es/es/ark/products/120501/intel-xeon-platinum-8160-processor-33m-cache-2-10-ghz.html)) if you have two processors you have 96 total threads, which is wh

[2021-02-12 22:27] falkamelung commented on #518
Yes, it reports 96 processors. I am not sure whether it should report this number but ifgram_inversion.py fails. In contrast, if I say `mintpy.compute.numWorker=48` it works fine. I forgot to mention this, sorry.

[2021-02-15 17:47] Ovec8hkin commented on #518
Im confused. `lscpu` says there are 96 CPUs, which is what the cpu_count finds. Thats what it supposed to be. Dask doesn't operate on "cores" it operates on "cpus" which are different things. There is no easy way to detect the number of cores as you defined them at runtime.

[2021-02-15 18:39] Ovec8hkin commented on #518
@falkamelung It'll be much simpler for you to just set minty.compute.numWorker to 48 and not touch it anymore. Additional searches have turned up anything that will pull just the number of cores instead of the cpu count.

[2021-02-15 20:29] falkamelung commented on #518
Hi @Ovec8hkin , are you saying you did not find a command to retrieve the 'Thread(s) per core' from the system?    As I said,  `num_core = os.cpu_count() / num_cpu_threads` would work. The issue is that we use the same mintpy installation on different queues with different hardware (different number of cores and threads) i.e. on nodes with different numbers of cores.

We could just run os.system('

[2021-02-15 21:03] Ovec8hkin commented on #518
There is no way to get the values you want in pure python. You can get either the total number of CPUs (96) via `psutil.cpu_count()` or the number of cores per socket (24) via `psutil.cpu_count(logical=False)`.

[2021-02-15 21:04] Ovec8hkin commented on #518
Parsing 'lscpu' via `os` should not be done, as it resource intensive.

[2021-02-17 20:02] yunjunz opened #520 "bootstrap resampling via numpy instead of sklearn"
It seems possible to use [`numpy.random.choice`](https://numpy.org/doc/stable/reference/random/generated/numpy.random.choice.html) for bootstrap resampling (https://medium.com/swlh/bootstrap-sampling-using-pythons-numpy-85822d868977), besides [`sklearn.utils.resample`](https://scikit-learn.org/stable/modules/generated/sklearn.utils.resample.html), which is used in `timeseries2velocity.py`.

Numpy

[2021-02-22 15:00] Ovec8hkin commented on #518
@yunjunz Thoughts on this? I would really hesitate at parsing the output of `lscpu` in python looking for the proper values we want, as its a pretty limited use case, and I can't find any other means by which to get the number of cores Falk claims are available.

[2021-02-22 15:42] falkamelung commented on #518
Are you sure the `os.system('lscpu')` is a problem? It would be done only once in both `ifgram_inversion` and `dem_error`

[2021-02-22 18:12] yunjunz commented on #518
Using `lscpu` sounds fine with me, since it only affect the translation of `all`. Of course, we should explain it well in the comments of the function in `cluster.py` and next to the option in `smallbaselineApp.cfg` file.

[2021-02-22 18:21] Ovec8hkin commented on #518
Using `os.system('lscpu')` is a messy work around for this, and doing things like that are generally not recommended by the python community, as they're comparatively expensive to using a native python command or full bash script. If @yunjunz doesn't mind, I guess you can go ahead and implement.

Send me a code block that pulls the correct data from the `lscpu` output, and I will add it in the rig

[2021-02-25 05:09] mohseniaref-InSAR opened #522 "ERA5 correction using tropo_pyaps3.py"
Hi Yunjun,

The following error message I found it strange because I calculated it several times ERA5 corrections. I removed  ERA5.h5 in the input folder and process everything again. I checked all grb file sizes in the ERA5 folder and all were the same size. I tried to trace the error but I couldn't find any reasonable answer so far. I really appreciate it if you can guide me to solve this issue.

[2021-02-25 05:31] yunjunz commented on #522
Could you plot your `timeseries.h5` and `geometryRadar.h5` file here for me to check?

[2021-03-01 19:06] yunjunz commented on #452
Here are the corresponding attributes used by mintpy/roipac and gmtsar:

  | mintpy/roipac     | gmtsar |
  | ---------------- | ------- |
  | ALOOKS |  |
  | ANTENNA_SIDE | PRM/lookdir |
  | CENTER_LINE_UTC | PRM/clock_start/stop |
  | EARTH_RADIUS | PRM/earth_radius |
  | HEADING |  |
  | HEIGHT | PRM/SC_height |
  | LAT_REF1 |  |
  | LAT_REF2 |  |
  | LAT_REF3 |  |
  | LAT_REF4 |  |
  | LON_REF

[2021-03-01 22:09] Xiaohua-Eric-Xu commented on #452
Hi, Here are some parameters one could easily get from the produced files in GMTSAR. I could write a shell script to do these, but it might be better to keep things in python, to be consistent with the package.

In any interferogram folder, e.g. intf_all/day1_day2, *_ll.grd are geocoded netcdf grids (e.g. phasefilt_ll.grd), while those with no "_ll" are grids in radar coordinates (e.g. phasefilt.g

[2021-03-02 04:46] yunjunz commented on #447
Thank you @ranneylxr and @krasny2k5 for identifying the issue. It's rooted from the [scipy.interpolate.RegularGridInterpolator call](https://github.com/yunjunz/PyAPS/blob/main/pyaps3/objects.py#L268), as @ranneylxr has pointed out. I could think of two solutions:

1. If you are sure that your dataset region does not cross the 360/0 boundary, you could add a constraint in [MintPy/tropo_pyaps3.py#L3

[2021-03-02 04:53] yunjunz commented on #492
Grab missing attributes from template file during save_hdfeos5.py is supported via #516. Close the issue.

[2021-03-02 04:53] #492 closed

[2021-03-02 22:31] yunjunz commented on #452
Thank you @Xiaohua-Eric-Xu for the detailed explanation!

From the example dataset that Becca shared with us, I could find all the parameters you described above, except for `orbdir` and `filter_wavelength`. Any idea?

[2021-03-02 22:38] yunjunz commented on #452
Does the interferogram folder name follow the same convention? More specifically, is Sentinel-1 the only satellite counting start from 0?

Is the `.ffffff` part the fraction of one day? We need to convert it into seconds of the time of the day.

[2021-03-02 22:41] Xiaohua-Eric-Xu commented on #452
Hi @yunjunz,
For filter_wavelength, it was my fault. It should be specified in the config file for processing, not in any PRM file. Yet the files Becca sent does not include that.
For orbdir, my guess is that the ENVISAT metadata does not has that info, so it is not included in the PRM.  Another nasty way of getting the orbdir is to check the last column in the corresponding LED file, which should

[2021-03-02 22:44] Xiaohua-Eric-Xu commented on #452
Hi @yunjunz,
Yes, it is fraction of the day. Not only Sentinel-1, most newer satellite, i.e. TSX, RS2, CSK, Sentinel-1, does that, while older ones does not. We are working on fixing this, which involves some really old code. To convert it to seconds, simply multiple the fraction part by 86400.0.
Xiaohua(Eric)

[2021-03-02 22:52] yunjunz commented on #452
As for the `yyyyddd`, we would need to use it to convert to `YYYYMMDD` for `DATE12` of each interferogram. What is your suggestion for now? Shall we wait for the fix from gmtsar, or implement an `if` check in the code in mintpy with an explicit list of satellites name involved?

[2021-03-02 22:56] Xiaohua-Eric-Xu commented on #452
Hi @yunjunz,
I am not sure when we'll be able to fully fix this as I did not write those codes and have to do some digging. So please use the list below for now.
starting from 0, Sentinel-1, CSK, RS2, TSX
starting from 1, ERS1/2, ALOS1/2, ENVISAT.
I'll keep you posted when there's an update.
Thanks,
Xiaohua(Eric)

[2021-03-02 23:03] yunjunz commented on #452
If we don't expect `filter_wavelength` is available always, a lazy way would be to guess it from `A/RLOOKS`: the impact on the weighting should be negligible.

For the `orbdir` and `z_dot`, could you describe more? Below is the LED file I have:

[code]

[2021-03-02 23:12] Xiaohua-Eric-Xu commented on #452
Good idea. Here's how we design the decimation or looks.
The decimation will be an integer value that ensures 4 samples per filter_wavelength, unless it is forced in the config file.
In other words, it is possible one filter data at 200m but sample 30m-ish. Anyways, as you said, it should not matter too much.
As for the LED file. You may have saw the records are every minute. Though the data only

[2021-03-02 23:20] yunjunz commented on #452
Thank you @Xiaohua-Eric-Xu for the explanation. Grabbing from LED seems overcomplicated, I suggest we shoot for this: if the script could find it from PRM file use it; otherwise return error and ask the user to specify it manually in the template file.

Let's start with ingesting the geocoded gmtsar products into mintpy. If all works fine, we could further discuss the geocoding format / lookup tab

[2021-03-02 23:24] Xiaohua-Eric-Xu commented on #452
Sounds good!

[2021-03-03 00:57] bjmarfito commented on #452
Thank you for making this happen. I'm not able to give my contributions right now and for the past few months since I'm finishing my master's thesis.

[2021-03-08 05:08] yunjunz commented on #452
Hi @Xiaohua-Eric-Xu, regarding the output of `SAT_baseline`, what are the following parameters?

`B_perpendicular` for the perpendicular baseline?
`baseline_start/center/end` for the total baseline?
What is `alpha_start/center/end`?

[2021-03-08 08:16] mohseniaref-InSAR commented on #522
Yes, The result is attached as you see

time series :
![Figure_1_-_timeseries png](https://user-images.githubusercontent.com/26392211/110292339-55e54e80-7fed-11eb-91a1-a35d1ac4908c.png)
The geometry file :
![Figure_1_-_geometryRadar png](https://user-images.githubusercontent.com/26392211/110292375-64336a80-7fed-11eb-93e6-bd907a1e8c12.png)
GACOS time series as example
![Figure_1_-_GACOS png](https:

[2021-03-08 17:48] Xiaohua-Eric-Xu commented on #452
Hi @yunjunz,
Yes. `B_perpendicular` is perpendicular baseline. `Baseline_start/center/end` are length of baselines at the start, center and end of the image. `alpha_start/center/end` is the angle of the baseline. These are used when computing `drho`. There are another set of parameter called `B_offset` used to account for situations when two orbits are not parallel.

[2021-03-08 23:27] yunjunz commented on #522
I agree with you @mohseniaref-InSAR. The SNWE calculation seems failed to exclude the invalid pixels in the input geometry datasets, thus resulting in a wrong SNWE. We could adjust either in [pyaps/objects.py#83](https://github.com/yunjunz/PyAPS/blob/main/pyaps3/objects.py#L83) to ignore those values or in [mintpy/tropo_pyaps3](https://github.com/insarlab/MintPy/blob/main/mintpy/tropo_pyaps3.py#L6

[2021-03-11 05:11] leaf0917 opened #530 "Installation Bug"
When I excute the **_$CONDA_PREFIX/bin/pip install git+https://github.com/insarlab/PySolid.git_**, then came the following questino,

_**Looking in indexes: https://pypi.douban.com/simple
Collecting git+https://github.com/insarlab/PySolid.git
  Cloning https://github.com/insarlab/PySolid.git to /tmp/pip-req-build-hocd9fte
  Running command git clone -q https://github.com/insarlab/PySolid.git /tmp/

[2021-03-12 14:26] pbrotoisworo commented on #497
Regarding point 3, that is true. Adding MintPy to the PATH environment such as what they mentioned in `ISCE-2` is really the best way to do it if you will be frequently using the command line. I'm not very familiar with the other topics. I'll close this issue since it appears to be done.

[2021-03-12 14:26] #497 closed

[2021-03-13 02:43] #530 closed

[2021-03-13 06:02] pbrotoisworo opened #531 "Add Windows functionality to plot_result function"
I'm using MintPy on a Windows machine and it cannot run the `.sh` file used to generate the plots and figures. I think it would be a good idea to add this so Windows users can easily see the output. I see that in the `plot_result` function it just copies a template `.sh` file into the work directory.

I have something like this in my own personal analysis using MintPy. This could use the following

[2021-03-14 04:36] yunjunz commented on #531
Hi @pbrotoisworo, I see you are translating the `view.py` from the command line to python. I agree it's more generic, we could write a python script, e.g. `plot_smallbaselineApp.py` to replace the shell script.

I remember @Ovec8hkin and @falkamelung was interested in looking at this, any updates? It will be a good place to join the discussion here.

For the translation, I would recommend to impor

[2021-03-14 06:11] yunjunz commented on #522
Hi @mohseniaref-InSAR, with the above commits in `insarlab/MintPy` and `yunjunz/PyAPS`, the bug should be fixed. Attached below is how ERA5.h5 looks like using the test data you sent me. Cheers.
![ERA5](https://user-images.githubusercontent.com/13143710/111059210-96f3bd80-8448-11eb-9744-6e83a21c40f0.png)

[2021-03-14 07:16] #522 closed

[2021-03-14 22:06] mohseniaref-InSAR opened #533 "How to add slope and aspect in geometryRadar.h5"
Dear All,

I would appreciate if you can guide me on how to add slope and aspect for calculation in geometryRadar.h5

Best regards,
Mohammad

[2021-03-14 22:07] mohseniaref-InSAR commented on #522
Thanks so much @yunjunz !

[2021-03-18 13:49] pbrotoisworo opened #536 "Overflow Error In Stack.py due to np.int32 value"
I have noticed that there is a possible bug where it can lead to an overflow error due to `np.sum()` returning a `np.int32` object. This is fixed if it is cast as a float object.

It is in this specific line:
https://github.com/insarlab/MintPy/blob/main/mintpy/objects/stack.py#L1035

I have replicated the variables in my analysis. I am analyzing 75 interferograms using MintPy.

[code]
Expected val

[2021-03-18 18:16] yunjunz commented on #536
This seems to be a win32-only issue as [`np.sum`](https://numpy.org/doc/stable/reference/generated/numpy.sum.html) returns value in the platform integer by default. With your example above, the `4 * 1024**3` part exceeds the int32 range, rather than the `ds_size` part.

I would recommend to explicitly specify int64 directly at [stack.py#L1035](https://github.com/insarlab/MintPy/blob/main/mintpy/ob

[2021-03-19 03:25] #536 closed

[2021-03-19 03:25] pbrotoisworo commented on #168
Would it be useful to capture all print commands and then write it to a log file? I do that in my software. Here is the template I use for my own projects. I use 2 functions where 1 function is used to run the CLI and capture output, the 2nd function writes it to a log file.

I am sharing my CLI tool I use which I got from [Whitebox Tools](https://github.com/giswqs/whitebox-python/blob/master/whit

[2021-03-19 13:55] pbrotoisworo commented on #531
I'm not entirely familiar with the MintPy code so the PR https://github.com/insarlab/MintPy/pull/538 uses a bunch of if statements to check if the file is there. If there are some parameters I can use to check the output then I think it would be good so I can clean up the code.

For example, I'm not sure how to check if the data is UNAVCO or Envisat data.

[2021-03-19 14:19] falkamelung commented on #531
If you contribute a new`plot_smallbaselineApp.py`, it will be good to use the `mintpy.compute` attributes to decide whether to generate  plots in a serial or parallel way.  If you use 8 cores you get a factor of 8 speed up. Using ~50 cores the generation of all plots just takes for us just a few seconds.  We use a slightly modified `plot_smallbaselineApp.bash` that sends all `view.py` processes in

[2021-03-19 14:50] pbrotoisworo commented on #531
I see. Should it follow something similar to this format? I think this is code that uses `mintpy.compute`.
https://github.com/insarlab/MintPy/blob/main/mintpy/ifgram_inversion.py#L131

I see that it loads the `mintpy.compute` parameters and updates the namespace before executing the code.

[2021-03-19 15:26] falkamelung commented on #531
You probably would read the `mintpy.compute` attributes from the `smallbaselineApp.cfg` as does `smallbaselineApp.py`. I don't really know how to handle the case of 10 workers and 30 `view.py` processes. It would be best to submit 10 processes and  then wait until a process has completed before  submitting a new one, but this could make it complicated. So, just submitting all processes at the same

[2021-03-19 20:13] yunjunz commented on #531
Hi @pbrotoisworo, I would suggest completing the pure python translation first. Once it's done in a clean way, the parallelization should be straightforward.

[2021-03-22 02:25] yunjunz commented on #531
Now the new `plot_result()` is completed, one could use `joblib` for the parallelization, as shown here: https://github.com/insarlab/MintPy/blob/1a6de6302b433e37a3272f98e7fbad4843b9389c/pysar/geocode.py#L245

[2021-03-22 20:36] forrestfwilliams opened #540 "ASF HyP3 Support"
The [ASF HyP3](https://hyp3.asf.alaska.edu/) on-demand InSAR service is great option for creating interferograms, but MintPy is not currently set up to ingest these products. I propose creating a prep_hyp3.py workflow that would allow for the ingestion of these products. I'm happy to perform this work, but could use guidance on preparing metadata.

[2021-03-23 02:03] forrestfwilliams commented on #540
HyP3 product are projected to the local UTM zone. I imagine this could cause issues for the LAT/LON_START and LAT/LON_REF1/2/3/4 attributes. Can MintPy accommodate this, or must they all be reprojected?

[2021-03-23 02:08] yunjunz commented on #540
No need for re-projection. MintPy should be able to handle `X/Y_STEP = meters` and its corresponding `X/Y_FIRST`.

However, this type of coordiantes is tested very limitedly. So I won't be surprised if something is not working. But they should be fixed easily.

[2021-03-23 02:12] yunjunz commented on #540
A HyP3 + MintPy support would be awesome @forrestfwilliams. I am not familiar with HyP3 results. Here is a general guideline to prepare datasets for MintPy: https://mintpy.readthedocs.io/en/latest/FAQs/. I am more than happy to answer any question you may have related to mintpy.

[2021-03-23 02:50] forrestfwilliams commented on #540
Thanks @yunjunz! Currently HyP3 only provides the average perpendicular baseline, and not the baseline for the top and bottom of the interferogram. Should I see if I can get this data, or is it permissible to have the same average baseline for both P_BASELINE_TOP_HDR and P_BASELINE_BOTTOM_HDR?

[2021-03-23 02:52] yunjunz commented on #540
Use the same value is perfectly fine.

[2021-03-23 19:30] forrestfwilliams commented on #540
Hi @yunjunz, I've successfully created a prep_hyp3.py file that generates the needed rsc files for each interferogram. Hyp3 provides interferograms as tifs that can be viewed using view.py, but once an rsc file is generated for an interferogram, I believe that readfile.read assumes that the interferogram is now in a binary format, which causes an error. Do you have any thoughts on how to correct t

[2021-03-23 19:53] forrestfwilliams commented on #540
Disregard the previous comment, I was able to track down the error.

[2021-03-23 22:32] yunjunz commented on #540
The discussion on the GMTSAR support (#452) could be a good reference here. We have implemented it here: https://github.com/yunjunz/MintPy/tree/gmtsar.

[2021-03-30 17:04] guangbaoshen commented on #432
Hi@yunjunz ,I have met exactly the same error with @rzinke(keyError:DATA12). However, when I activate the isce environment and try to run the prep_isce.py scripts. A new error comes out as below:

Traceback (most recent call last):
 file "/home/guangbao/python/Mintpy/mintpy/prep_isce.py", line 14, in <module>
 from mintpy.utils import (
File "/home/guangbao/python/Mintpy/mintpy/utils/readfile.py",

[2021-03-30 18:39] yunjunz commented on #432
Hi @guangbaoshen, you need to install defusedxml in your python environment.

[2021-03-31 05:10] guangbaoshen commented on #432
@yunjunz Thank you very much, and after installing defusexml module, mintpy works. Thank you for your reply.

[2021-04-14 16:10] alejobeap opened #546 "Geocode error and generate_mask.py error"
Dear

I run Mintpy with the Stack in ISCE with TerrasarX data: stackStripMap.py -s /mnt/nas_insar/TX_Pr_Cotopaxi/SLC/ -d /mnt/nas_insar/TX_Pr_Cotopaxi/DEM/demLat_S02_N02_Lon_W079_W077.dem.wgs84 --bbox '-0.61 -0.76 -78.47 -78.38' -w ./ -W interferogram -m 20201106 --nofocus --zero -t 250 -b 1000 -a 14 -r 4 -S TX

I had this error in the geocode part:

step - geocode
[code]
![image](https://user-ima

[2021-04-14 20:31] yunjunz commented on #546
Hmm..., it's strange that the geocoding step succeeded for the other files but not for velocity.h5. Could you do the following?
1. check the dataset size info between velocity.h5 and geometryRadar.h5? You could run `info.py` for it.
2. fill out the "system info" as listed in the [bug report template](https://github.com/insarlab/MintPy/blob/main/.github/ISSUE_TEMPLATE/bug_report.md).
3. if the abov

[2021-04-15 16:09] alejobeap commented on #546
Dear I run again the smabaselineApp.py but I had this error now:

generate_mask.py /mnt/nas_insar/TX_Pr_Cotopaxi/temporalCoherence.h5 -m 0.7 -o /mnt/nas_insar/TX_Pr_Cotopaxi/maskTempCoh.h5 --base /mnt/nas_insar/TX_Pr_Cotopaxi/inputs/geometryRadar.h5 --base-dataset shadowMask --base-value 1
update mode: ON
run or skip: run
input temporalCoherence file: /mnt/nas_insar/TX_Pr_Cotopaxi/temporalCoherenc

[2021-04-15 18:46] yunjunz commented on #546
The size of the geometry datasets is not consistent, as you could see from the info.py output. You might also want to check the size of the interferogram stack file.

[2021-04-20 01:15] yunjunz commented on #540
Here is the to-do list I could think of for full support of HyP3+MintPy workflow:

1. The 2D matrix of pixel-wised incidence angle [required for tropospheric correction and DEM error correction].
2. The connected components for each interferogram [optional but recommended; required for unwrapping error correctoin]
3. A 2D matrix of water/land mask [optional but recommended]
4. Add attributes: `HEI

[2021-04-21 18:28] talogan commented on #540
Thanks for the to-do list.  We are going to start looking into this soon.

I note that the first link in this issue is to HyP3 version 1, which is our beta system.  We've recently released our InSAR GAMMA process in HyP3 version 2, a more stable system that can be accessed through the ASF Data Search engine [Vertex](https://search.asf.alaska.edu).  Documentation is available at the [HyP3 docs webs

[2021-04-21 20:27] forrestfwilliams commented on #540
@talogan and @yunjunz, thank you for continuing this discussion! I'm looking forward to fully integrating HyP3 products into MintPy, and am happy to keep contributing as we continue this process.

[2021-04-22 04:11] yunjunz commented on #540
Thank you @talogan for pointing out the link, it hasd been fixed in #545.

[2021-04-23 06:51] yuxuan-dyx commented on #501
I encountered a similar problem, have you solved it ？

[2021-04-23 22:27] yunjunz commented on #531
close this issue as the initial goal is completed.

[2021-04-23 22:27] #531 closed

[2021-04-23 22:28] #452 closed

[2021-04-28 07:18] talogan commented on #540
ASF is working in the following:

- we've added the spacecraft height and earth radius at the nadir to our metadata
- we're adding the option to include an incidence angle map in the product bundle
- we're adding the option to select water masking
- we're adding the option to include the DEM into the product bundle

Unless I missed something, the only items we're missing are the connected componen

[2021-04-28 17:58] yunjunz commented on #540
You are right. There is no connected components product from GAMMA phase unwrapping.

As for the slant range distance, we could calculate it based on the 2D incidence angle, accurate spacecraft height and earth radius (https://github.com/insarlab/MintPy/blob/main/mintpy/utils/utils0.py#L139). So it's okay to not have it.

For further clarification, we are using the geocoded products from HyP3, so

[2021-04-30 00:07] bbuzz31 opened #551 "smallbaselineapp fails to read updated config file"
I'm trying to exclude a bunch of inferferograms using e.g.:
`mintpy.network.excludeIfgIndex = 67,68,84`
However, it can't read the input:
[code]
That extra `'['` is added early on, my guess is when reading the template file. More specifically, adding `print (value)` on line 172 of modify_network.py results in the string: `[67, 68, 84]` for key = excludeIfgIndex

### -- UPDATE --
This appears to no

[2021-04-30 01:54] yunjunz commented on #551
Maybe the `mintpy.network.excludeIfgIndex = None` is not reflected in the `smallbaselineApp.cfg` file. Could you confirm? The code reads the custom template file to update the default template file (smallbaselineApp.cfg) and use the default template file only.

[2021-04-30 02:06] bbuzz31 commented on #551
Interesting. Before posting I did check the smallbaselineApp.cfg in the './inputs' directory  (from `prep_aria.py`) and the stack itself (from info.py ifgramStack.h5); they were both updated to `None`. But you're right, the `smallbaselineApp.cfg` in the directory where I call `smallbaselineApp.py` is not updated after I run `smallbaselinApp.py myconfig`

[2021-04-30 16:04] alevasca opened #553 "Comparing InSAR with GPS"
I got this error when running the jupyter notebook Fig_08_S06_InSAR_vs_GPS.ipynb with my data:
 _ValueError: datetime.datetime(2015, 9, 22, 0, 0) is not in list._
The code did not find this datetime because all the InSAR-datetimes have a time (acquisition time) different to zero. To solve this issue, I included a for-loop in the script insar_vs_gps.py after the line 234 (section # 2.4 reference in

[2021-05-01 19:08] yunjunz commented on #551
With the above PR, the code now ignores/tolerates the [] in the inputs now.

[2021-05-01 19:08] #551 closed

[2021-05-01 20:42] yunjunz commented on #553
Thank you @alevasca, the PR above should resolve the issue.

[2021-05-01 21:40] #553 closed

[2021-05-03 21:53] falkamelung opened #556 "Occasional ifgram_inversion.py failure when using too many cores with dask"
**Description of the problem**
I run MIntPy on TACC's Stampede2 which has 48 cores per node.   It never worked for me using all cores, so I use `mintpy.compute.numWorker = 40`.  I now see occasionally  errors with this number of `numWorkers` as well. Does the error error message below provides any clues?  For this case the solution is to further reduce the number or workers, in this case to `32`.

[2021-05-04 04:25] yunjunz commented on #556
I am not sure about the exact cause of this error. Setting the translation of `numWorker = all` to 2/3 of total CPUs or as #518 sounds good to me.

[2021-05-14 06:14] EJFielding opened #560 "Pedantic Linux find does not like find in plot_smallbaselineApp.sh"
**Description of the problem**

I have been running a version of the tutorial script for ISCE stripmapApp output on a CentOS Linux virtual machine, and the `plot_smallbaselineApp.sh` script stops in the middle with a warning  message about the `find ‘./geo/geo_timeseries_*.h5’`.

**Full script that generated the error**

[code]

**Full error message**

[code]

**System information**

* Operating s

[2021-05-14 09:09] talogan commented on #540
As of today, the HyP3 InSAR products include the following (accessible via all the interfaces):

- `spacecraft height`, `earth radius`, `slant range near`, `slant range center`, and `slant range far` are now in the .txt metadata file
- an option to include the incidence angle map into the product bundle now exists
- an option to include the DEM file used during processing now exists.

We're still

[2021-05-14 20:57] yunjunz commented on #560
Thank you @EJFielding for letting me know. The shell script is never the ideal solution. The `plot_smallbaselineApp.sh` has been translated to and replaced by a pure python function `plot_result()` https://github.com/insarlab/MintPy/pull/538 recently by @pbrotoisworo. If you update to the latest version, these warnings should be gone.

[2021-05-14 21:04] EJFielding commented on #560
Thanks, I did not notice the new version with pure Python instead of the `sh` script. For now, I will use the version that is installed on our NISAR JupyterHub, but it will be updated at some point. I could install the latest MintPy version locally in my non-volatile storage, but there are advantages to using the default instance system installation.

[2021-05-16 00:26] yunjunz commented on #540
Just jump in for the water mask :)

I would think an option to download a water mask is definitely desired. This would be similar to the DEM and incidence angle.

A separate option in the processing to apply the water mask before phase unwrapping would be great too.

[2021-05-16 02:45] forrestfwilliams commented on #540
Hi @talogan this is all great, thanks! Echoing @yunjunz, I think it would be great to have the water mask applied before unwrapping, but just receiving the water mask would be great as well!

[2021-05-18 21:28] forrestfwilliams commented on #540
Hi @yunjunz and @talogan, I've taken a quick look at updating MintPy so that it takes full advantages of the updates to HyP3, but some other projects have taken priority and I won't be able to devote much time to this until June. Hope this isn't too long for you all!

[2021-05-18 21:35] yunjunz commented on #540
Thank you for looking into this again @forrestfwilliams.

[2021-05-18 23:55] cirrusasf opened #562 "mintPy has issue to work with hyp3 product"
**Description of the problem**
I want to make the mintPy work against hyp3 intererogram. I had an issue the step "correct_troposphere". It can not download the ERA5 data. It can bring the the session correctly. But it can not retrieve the data, because it can not pass the verification on the server side. My dem.tif is in "WGS 84 / UTM zone 53N" projection, bbox re presented in unit of meter.  I wo

[2021-05-19 01:15] cirrusasf commented on #540
I am trying to make the mintpy work against hyp3.  @forrestfwilliams mentioned you have already did a prep_hyp3. May I take a look at it.  I followed the guide to arrange the hyp3 output. When I run, I got stuck at step “correct_troposphere”. It complains that  Exception: Assertion failed: bbox.north() <= Latitude::NORTH_POLE in check

, which comes from the statement result = self._api("%s/resour

[2021-05-19 02:00] yunjunz commented on #540
Hi @cirrusasf, the error you show seems from the PyAPS code, I assume that you have successfully ingested `incidenceAngle` to geometryGeo.h5 file.

To your question, yes, `PyAPS` works on lat/lon only ([tropo_pyaps3.py#L714-L716](https://github.com/insarlab/MintPy/blob/main/mintpy/tropo_pyaps3.py#L714-L716)). So some changes are needed in tropo_paps3.py to prepare the pixelwised lat/lon. It's shou

[2021-05-19 17:54] cirrusasf commented on #540
Hi Insarlab/Mintpy,

Thank you for your reply. I noticed that there is prep_hyp3.py. I want to
play this first to see if I can make mintPy work against hyp3 data.

Jiang

On Tue, May 18, 2021 at 6:00 PM Zhang Yunjun ***@***.***>
wrote:

[2021-05-19 17:56] yunjunz commented on #540
It's committed and available already.

[2021-05-19 19:30] cirrusasf commented on #540
Hi Insarlab/Mintpy,

I got stuck at

pa.ECMWFdload(date_list2dload, hour, grib_dir,
                                  model=tropo_model,
                                  snwe=snwe,
                                  flist=grib_files2dload)

it can not download ERA5 data. Perhaps snake needs in degree, not in meter?

Jiang

On Wed, May 19, 2021 at 9:57 AM Zhang Yunjun ***@***.***>
wrote:

[2021-05-22 00:27] cirrusasf commented on #540
Hi Insarlab/Mintpy,

I try to make the mintpy work with hyp3 output data. I modifed the script,
now I can download the ERA5 data. I got the next problem. It complains that
it can not find the incangle, error messge:  KeyError: "Unable to open
object (object 'incidenceAngle' doesn't exist)".  I produce the
incangle.tif files, How do I configure the custom.cfg to add the
incAngeleFile?

Thank you ve

[2021-05-22 01:50] yunjunz commented on #540
By setting `mintpy.load.incAngleFile = {path_to_incangle.tif_file}`.

[2021-05-22 20:54] cirrusasf commented on #540
Hi Yunjun,

Thank you for your reply! I produce an incangle tif file for each
interferogram, and I copy one such file into incangle.tif, and I put it  in
{DATA_DIR}. I edit my custom.txt file
by adding mintpy.load.incAngleFile ={DATA_DIR}/incangle.tif. When I
run smallbaselineApp.py custom.cfg, it complains that it needs inangle.txt,
not inangle.tif.  How do I create a metadata txt file named inca

[2021-05-25 19:01] EJFielding commented on #562
@cirrusasf The easiest way to deal with this is to turn the atmospheric corrections. Add this to the configuration file:
`mintpy.troposphericDelay.method = no  #[pyaps / height_correlation / no], auto for pyaps`

[2021-05-25 23:42] cirrusasf commented on #562
Hi Insarlab/Mintpy,

Thank you for your reply.

I figured out the way to make the the mintpy works against our ASF hyp3
product. I modified several places of your code to make it work. I would
like to contribute the code back to you. What should I do?  May I push my
branch and submit the PR?

Thank you very much for your help!

Jiang

[2021-05-25 23:47] EJFielding commented on #562
@cirrusasf I am not one of the maintainers of MintPy, only a user, but I have contributed some Pull Requests in the past. They have a contribution guide here: https://github.com/insarlab/MintPy/blob/main/docs/CONTRIBUTING.md

[2021-06-01 21:55] bjmarfito opened #566 "Error in SET corrections"
**Description of the problem**

When I'm running the smallbaselineApp.py and enabled correction for SET, an error message comes up indicating the 'CENTER_LINE_UTC' is not found. I've generated the stack using the alosStack processor from ISCE.

**Full script that generated the error**

[code]

**Full error message**

[code]

**System information**

* Operating system: macOS
* Python environment: c

[2021-06-03 05:18] #562 closed

[2021-06-03 05:33] yunjunz commented on #566
Hi @bjmarfito, I can not think of anything on top of my head for this. The error just says that attribute is missing in the SET.h5 file.

The following two options in your template file is not needed or not right, but I am not sure if that relates to the error somehow.
1. `mintpy.load.az/rgOffFile` is not needed for InSAR time series, I would not mix them (load both offsets and interferograms).
2.

[2021-06-03 05:54] yunjunz commented on #540
@cirrusasf Could you please 1) add some information on creating the incidence angle file in HyP3 and 2) update the example template option for loading the incidence angle file in the [example dir structure page](https://mintpy.readthedocs.io/en/latest/dir_structure/#asf_hyp3)? I believe that would answer the question in the user forum (https://groups.google.com/g/mintpy/c/FSdi1PQjnEU).

[2021-06-03 12:13] bjmarfito commented on #566
Thank you @yunjunz for replying. I've followed your suggestions and still the error persisted on ALOS-2 stacks. I've run SET on Sentinel-1 stacks generated from topsStack and it worked. The CENTER_LINE_UTC is not present on the geometryRadar.h5 thought it is present on the timeseries.h5.

I'll generate a PR regarding to provide possible solution. I got the idea on the tropo_pyap3 where the CENTER_

[2021-06-03 16:43] cirrusasf commented on #540
Hi Yunjun,

Thank you for adopting our code. Yes, We (ASF) would like to provide an
example. We also want to provide a notebook for tutorial purposes.

Jiang

On Wed, Jun 2, 2021 at 9:54 PM Zhang Yunjun ***@***.***>
wrote:

[2021-06-04 00:07] #566 closed

[2021-06-07 19:39] yunjunz commented on #540
Hi @talogan, from a quick look at https://hyp3-docs.asf.alaska.edu/guides/insar_product_guide/#processing-options (great descriptions by the way), I think there may be a confusion on the incidence angle: for tropospheric correction, we need the simple incidence angle of the LOS vector with respect to the zenith/verical direction, WITHOUT considering the slope of the local topography.

[2021-06-10 07:53] talogan commented on #540
@yunjunz The Hyp3 development team is discussing how we will fix this issue.  Most likely, we will either replace the local incidence angle file currently produced with the ellipsoidal incidence angle file you requested, or offer both the local and ellipsoidal incidence angle files.

[2021-06-10 16:08] cirrusasf commented on #540
Hi Insarlab/Mintpy,

I can run smallbaselineApp.py successfully against the ASF HypP3 product
with the following custom.cfg. The samllbaselineApp.py includes the
tropospheric correction. Does this mean that the program automatically
correctly get the LOS vector information from the *inc_map_clip.tif?

The content of the custom.cfg
mintpy.load.processor        = hyp3
##---------interferogram datase

[2021-06-10 17:36] yunjunz commented on #540
Hi @cirrusasf, the code will read and use the local incidence angle data and run without error, but it's still not correct (there is no function in mintpy to detect and convert local incidence angle to ellipsoid referenced incidence angle). I would imagine a wrong tropospheric correction from it.

[2021-06-11 00:08] cirrusasf commented on #540
Hi Insarlab/Mintpy,

Looks like we need to produce the incidence angle of the LOS vector with
respect to the zenith/vertical direction. I will discuss it with Tom. By
the way, we are creating the notebook and modifying some words in the
example_directory. After we are ready, I will push another PR.

Thank you,

Jiang

On Thu, Jun 10, 2021 at 9:37 AM Zhang Yunjun ***@***.***>
wrote:

[2021-06-11 00:11] yunjunz commented on #540
Sounds great @cirrusasf. For jupyter notebooks, please push to [MintPy-tutorial](https://github.com/insarlab/MintPy-tutorial) repo.

[2021-06-11 00:17] cirrusasf commented on #540
Hi Yunjun,

Ok. will do it.

Jiang

On Thu, Jun 10, 2021 at 4:12 PM Zhang Yunjun ***@***.***>
wrote:

[2021-06-11 00:30] cirrusasf commented on #540
Hi Insarlab/Mintpy,

Can you tell what is the format of the inc_angle file.  Does it include
near and far inc angle with zenith/vertical? That is to say it should
include 4 values: near_inc_angle_zenith, near_inc_angle_vertical,
far_inc_angle_zenith, and far_inc_angle_vertical. Am I correct? We can
output these values as  a file. We just want to know the format of the file.

Thank you,

Jiang

On

[2021-06-11 00:44] yunjunz commented on #540
It should be a pixel-wise incidence angle, such as the example below from the [SanFranSenDT42 example dataset from ARIA](https://github.com/insarlab/MintPy/blob/main/docs/demo_dataset.md#sentinel-1-on-san-francisco-bay-with-aria).
![inc_angle](https://user-images.githubusercontent.com/13143710/121613806-30b01400-ca12-11eb-98ed-300aa54ea025.png)

If you could consider the impact of elevation for ea

[2021-06-11 02:57] forrestfwilliams commented on #540
@yunjunz, @talogan, @cirrusasf, the new version of `prep_hyp3.py` will correctly read any HyP3 tif file that begins with the HyP3 naming convention `S1xy-aaaaaaaaTbbbbbb_ggggggggThhhhhh_pponnn_INTzz_u_def_ssss` and ends with `.tif`. As long as future water mask/incidence angle/connected components files stick to this formatting, we shouldn't have to make any major changes!

[2021-06-11 19:13] cirrusasf commented on #540
Hi Insarlab/Mintpy,

I am a little bit confused. The inc_map.tif that the hyp3 produced is the
pixel-wise inc angle tif file. Does mintpy need the inc_angle tif files
from every ifm?
I put the following in the custom.cfg
##---------incAngleFile:
mintpy.load.incAngleFile    =
 /media/jzhu4/data/hyp3-mintpy/case2/*/*inc_map_clip.tif

the smallbaselineApp can produce the output.
You told me our inc_m

[2021-06-12 06:59] bjmarfito opened #574 "MintPy doesn't recognized redundant network of interferograms in HyP3 products"
I've used HyP3 to generate three interferograms from three Sentinel-1 SLC. The dates of the images are the ff: (1). Oct 2, 2019; (2) Oct 14, 2019; and October 26,2019. The three interferograms produced by HyP3 are the ff: (1)20191002_20191014; (2)20191014_20191026; and (3) 20191002_20191026. However, MintPy only recognizes two of the three interferograms which are 20191002_20191014 and 20191002_20

[2021-06-12 08:53] bjmarfito opened #575 "SET not working on HyP3 products due to missing azimuth angle file"
**Description of the problem**
I am generating time-series from HyP3 interferograms and was trying to correct for solid earth tides. However, the azimuthAngle file is missing from the geometryGeo.h5 since the azimuth file is not included on the HyP3. Though, the geometryGeo.h5 has a heading value.

I'm thinking if I should also inform the HyP3 team regarding this issue.

**Full script that generat

[2021-06-12 21:16] yunjunz commented on #574
Hi @bjmarfito, it will be helpful if you could paste the printout msg of running smallbaselineApp.py.

My first guess from your attached template file is that you may forget to cut the files, as suggested in the brief instruction (https://mintpy.readthedocs.io/en/latest/dir_structure/#asf_hyp3).

[2021-06-12 21:21] yunjunz commented on #575
Thank you @bjmarfito for reporting this issue. I agree that it will be useful if HyP3 has the pixel-wised azimuth angle file. In addition, mintpy could use the less accurate but still acceptable mean value from the `HEADING` attribute.

[2021-06-13 00:23] bjmarfito commented on #574
Thank you @yunjunz. Apologies for not posting the printout message. Your guess is right that I didn't cut the files before ingesting into MintPy. Now the interferogram network is fully connected.

![network](https://user-images.githubusercontent.com/21336508/121791810-9376fa80-cc20-11eb-94ff-f91320bb2069.jpg)

[2021-06-13 00:24] #574 closed

[2021-06-13 00:29] bjmarfito commented on #575
@yunjunz, I've updated my MintPy and processed HyP3 images with SET enable. A new error came up.

[code]

[2021-06-13 01:43] yunjunz commented on #575
Hi @bjmarfito, I don't enough test datasets to reproduce the error, would recommend debugging it yourself. Note that the hyp3 + mintpy workflow is not fully supported yet, so I won't be surprised to see many features not working.

[2021-06-13 01:53] bjmarfito commented on #575
Noted on this @yunjunz. I'll debug it and will share the results if I'll be successful on it.

[2021-06-13 20:13] yunjunz commented on #540
There is a good description of the definition of incidence angle from UNAVCO: https://www.unavco.org/education/professional-development/short-courses/course-materials/insar/2008-insar-course-materials/sar_summary.pdf.

[2021-06-14 00:03] forrestfwilliams opened #579 "Implement Effective Coherence Ratio Interferogram Selection"
**Description of the desired feature**
In InSAR time-series analyses, it is often necessary to exclude interferograms that do not meet a quality standard. MintPy has several methods for automatically selecting high quality interferograms, but I believe it would be worthwhile to implement [Kang et al's Effective Coherence Ratio](https://doi.org/10.1016/j.rse.2021.112400) method for interferogram se

[2021-06-14 04:29] #575 closed

[2021-06-14 06:00] yunjunz commented on #579
Hi @forrestfwilliams, correct me if I am wrong, from a very quick look at Kang et al. (2021), the proposed method seems close to Chaussard et al. (2015), which is where I started for the coherence-based network modification. I found the average coherence easier to understand but did not compare the two slightly different methods (average coherence vs. pixel percentage) extensively. I think it will

[2021-06-14 23:30] forrestfwilliams commented on #579
Hi @yunjunz, thanks for pointing this out! While the two techniques are very similar, Keng et al.'s (2021) approach has some aspects that I think are worth implementing. Particularly, I like that they use the average coherence value within the water mask to define the minimum desired coherence value.

[2021-06-15 21:30] cirrusasf commented on #540
Hi Insarlab/Mintpy,

I pushed the PR https://github.com/insarlab/MintPy-tutorial/pull/22. it is
about the notebook we created to demo how the mintpy work with hyp3 data.
Please take a look at it.

Thank you,

Jiang

On Thu, Jun 10, 2021 at 4:12 PM Zhang Yunjun ***@***.***>
wrote:

[2021-06-16 16:13] cirrusasf commented on #540
Can anybody in MintPy team take a look at our PR  insarlab/MintPy-tutorial#22?  This gives a tutorial to run mintpy with HyP3 data.

[2021-06-16 17:15] jldz9 opened #582 "Add Way to Output all Result as Georeferenced Raster"
**Description of the desired feature**

The template for ISCE stack processing only has the option to output times-series in hdfeos5 format, Other maps only output as png, and KMZ format.
example for current output::
[code]

I would like to request adding the option in the template to output all results as georeferenced raster, Either `.tiff .grd .tif` would be good as long as it could be load int

[2021-06-16 18:14] jldz9 opened #583 "ImportError for save_gdal.py save_qgis.py"
**Description of the problem**

Try to convert the result to raster and issue pop-up while testing the script
[code]

**Full script that generated the error**

[code]
**Full error message**
[code]
[code]
[code]
[code]
[code]
[code]
**System information**

* Operating system:  Linux-Ubuntu20.04.2 LTS
* Python environment: Conda
* Version of MintPy: MintPy release version v1.3.0-42, release date 202

[2021-06-20 01:50] yunjunz commented on #582
Hi @jldz9, with the limited number of developers, I don't think we will be able to do this feature request if you can not lead the effort because: 1) it can be done manually with utility scripts e.g. save_gdal/gmt.py; 2) too much work not related to the essential funcationalities.

[2021-06-20 01:50] #582 closed

[2021-06-20 01:52] yunjunz commented on #533
Close this since it does not have enough info to understand the question.

[2021-06-20 01:52] #533 closed

[2021-06-20 01:53] #382 closed

[2021-06-20 01:55] #546 closed

[2021-06-20 01:57] yunjunz commented on #556
A fine-tuning on this default value translation makes more sense to do on the user side rather than the maintainer side because the latter does not have the access to test it.

[2021-06-20 01:57] #556 closed

[2021-06-20 01:59] yunjunz commented on #583
@jldz9 this seems like a generic conda dependencies installation issue, not a mintpy bug, you might want to try a clean conda installation process.

[2021-06-21 05:35] #512 closed

[2021-06-21 19:47] rbiessel commented on #540
Maybe this deserves its own issue, but there are a lot of instances where MintpY assumes a WGS84 projection regardless of the projection of the input files. For instance the gecoded outputs (Gtiff, kmz, etc) do not work correctly because they use the UTM zone's geotransform with EPSG 4326. My current hack-around is to just reproject all of the HyP3 tiffs to lat/lon before running mintpy.

[2021-06-21 22:28] cirrusasf commented on #540
Hi Rowan Biessel,

I am a little bit confused about what you talked about. Can you point out
what the exact problem is. For example, which part of the program can not
go through? What does the output giff look like?

Jiang

On Mon, Jun 21, 2021 at 11:48 AM Rowan Biessel ***@***.***>
wrote:

[2021-06-21 22:46] rbiessel commented on #540
A command such as `save_gdal.py velocity.h5 --of Gtiff` save_gdal will set the projection of the output geotiff  as EPSG:4326 no matter what. Meanwhile, the geotransform associated with velocity.h5 will be in UTMs. `save_gdal.py` needs to read the UTM zone from velocity.h5's attributes and use that instead of 4326.

For example, something like this:

[code]

[2021-06-21 23:33] cirrusasf commented on #540
Hi Rowan,

Thank you for clarification. I suggest modifying the save_gdal.py or other
conversion/display/save scripts to make sure they can intake data with geo
projection other than EPSG:4326. I don't suggest converting ifm files and
then ingesting them to MintPy.

Jiang

On Mon, Jun 21, 2021 at 2:46 PM Rowan Biessel ***@***.***>
wrote:

[2021-06-23 18:44] yunjunz opened #588 "add timeseriesResidual in ts2vel.py"
**Description of the desired feature**

As noted in #587: with the more advanced time function capability, it makes more sense to use the time series fitting residual (`timeseriesResidual.h5` file) from `timeseries2velocity.py` rather than the current `dem_error.py`, if the more advance (not by default) time functions is turned ON. For this, we could simply add a new option in ts2vel.py to generat

[2021-06-30 11:53] alejobeap commented on #299
Dear I had the same error
generate_mask.py /mnt/procesamiento/Procesamiento_TX/Sangay/Stack_Descendente_1/temporalCoherence.h5 -m 0.7 -o /mnt/procesamiento/Procesamiento_TX/Sangay/Stack_Descendente_1/maskTempCoh.h5 --base /mnt/procesamiento/Procesamiento_TX/Sangay/Stack_Descendente_1/inputs/geometryRadar.h5 --base-dataset shadowMask --base-value 1
update mode: ON
run or skip: run
input temporalCoh

[2021-06-30 21:12] yunjunz commented on #299
@alejobeap the geometry datasets do not have the same shape as the interferograms, I guess you might had loaded the full resolution geometry files, instead of the multilooked version.

[2021-06-30 21:51] alejobeap commented on #299
thanks @yunjunz
My load input file is:
########## 1. load_data

mintpy.load.processor      = isce  #[isce, aria, snap, gamma, roipac, hyp3], auto for isce
mintpy.load.autoPath       = auto  #[yes / no], auto for no, use pre-defined auto path
mintpy.load.updateMode     = auto  #[yes / no], auto for yes, skip re-loading if HDF5 files are complete
mintpy.load.compression    = auto  #[gzip / lzf / no]

[2021-07-01 02:17] alejobeap commented on #299
Thanks
I multi look the geometry datasets to the same size of the interferograms. and run ok.

Alejo

[2021-07-04 22:39] #579 closed

[2021-07-05 14:50] stoormgeo opened #595 "Prep_fringe.py list index out of range"
**Description of the problem**

Try to start the Prep_fringe.py after Fringe output

**Full script that generated the error**

[code]

**Full error message**

[code]

**System information**

* Operating system: Linux-Ubuntu 20.04 LTS
* Python environment: conda
* Version of MintPy: MintPy release version v1.3.0-63, release date 2021-07-04
* Your custom / default template file (if the bug is relate

[2021-07-05 23:06] rbiessel commented on #595
I get the same exact error if I purposely make a typo in my `-u` unwrapped glob path.

[2021-07-06 10:35] stoormgeo commented on #595
It's really a typo. Thanks!

[2021-07-06 10:35] #595 closed

[2021-07-09 15:56] falkamelung commented on #556
In most cases I used ⅔ of the CPUs but in some cases this still gives an error and I have to use less. I suspect this is a fixable bug in the way we have implemented dask.  I should document the cases when it occurs.

[2021-07-09 17:22] vbrancat opened #603 "Issue in running MintPy example"
**Description of the problem**

I am running the WellsEnvD2T399 example in MintPy. I get an error when trying to compute the temporal average of the unwrapped phase. The error seems to be related to a non-correct indexing when accessing a HDF5 file. I suspect that the file the script is trying to access avgPhaseVelocity.h5, it does not exist locally

**Full script that generated the error**

[code

[2021-07-09 18:05] yunjunz commented on #603
This is a known bug due to the lost support of fancy indexing in `h5py version 3.x`, it should be gone if you install h5py version 2.x, as noted on the installation page with the `MintPy/docs/conda.txt` file.

I tested mintpy with python 3.9 once and failed, forgot about the causes. You might want to stick to the older version for now as well. This constraint is in the conda.txt file too.

[2021-07-09 18:12] vbrancat commented on #603
It would be nice to update the `conda` requirements https://github.com/insarlab/MintPy/blob/d58acf512e6fe7e3a0856d0e1995605e36a49a43/docs/requirements.txt#L10
and force the user to download a `h5py` lower than 3.x

[2021-07-09 18:22] yunjunz commented on #603
I agree, will add it in the next commit.

[2021-07-09 19:05] vbrancat commented on #603
Thanks. Reverting to h5py 2.10 solved the issue. Closing the issue :D

[2021-07-09 19:05] #603 closed

[2021-07-10 15:48] JianbaoSun commented on #540
Hi, Jiang,
I got the same ERA5 download issue when using HyP3 data. Mintpy works well when GAM is not used for tropospheric corrections.  Could you please let me know what is your final solution?  Thanks!

Sun

**************************************************
WARNING: downloading failed for 3 times, stop trying and continue.
**************************************************

update mode: ON
out

[2021-07-11 15:28] ShadiAbdelhadi opened #606 "MintPy dependencies installation error"
I successfully downloaded both MintPy and PyAPS. then I couldn't set the environmental variables into the source file because whenever I type ~/.bash_profile   ,  I receive this error messegae "bash: /home/shadi/.bash_profile: Permission denied"

Now I am very new to Linux and there are may things I may have performed incorrectly. I tried to install the dependencies after, then I got this error.
!

[2021-07-12 17:09] cirrusasf commented on #540
Hi Jianbao,

I believe that new mintpy version includes the fix that I provided. If you
grasp the newest version of mintpy. It will works with hyp3 and
download the ERA correctly.

Jiang

On Sat, Jul 10, 2021 at 7:48 AM JianbaoSun ***@***.***> wrote:

[2021-07-13 00:52] jhkennedy commented on #606
@ShadiAbdelhadi From the screenshot it looks like you're using Linux, not Mac, so you'll want to download the [Linux installer](https://docs.conda.io/en/latest/miniconda.html#linux-installers):

[code]
Here's the miniconda linux install guide: https://conda.io/projects/conda/en/latest/user-guide/install/linux.html

[2021-07-13 22:54] falkamelung opened #607 "Plotting in parallel based on `mintpy.compute` information"
@Ovec8hkin is so kind to implement this:

It would be great to implement plotting in parallel. For big mintpy runs the plotting takes longer than the calculations (the generation of 1 plot may take 1 minute, see below). There used to be a *bash script for parallel plotting but this capability got lost when a python script for plotting was introduced.

The plotting script should use the mintpy.comp

[2021-07-14 18:56] Ovec8hkin commented on #607
@yunjunz Does this amount to simply modifying the below lines:

https://github.com/insarlab/MintPy/blob/e658521caa285b611a7aa1bb86691205c9df5eb0/mintpy/smallbaselineApp.py#L1178-L1180

to something like:

[code]

[2021-07-14 19:08] yunjunz commented on #607
Yes, I think so. Please also keep notes on the used memory, as we might need to adjust the multilooking number to not exceed the set limit.

[2021-07-14 19:17] Ovec8hkin commented on #607
Is there a built in MintPy way to do that?

[2021-07-14 19:32] yunjunz commented on #607
For the `joblib` func call: no, because the form above is already simple enough.

For the memory monitoring, I use `scalene`, below is an example:

[code]

[2021-07-16 05:47] #607 closed

[2021-07-17 11:21] ShadiAbdelhadi commented on #606
Terminal won't verify the downloaded miniconda file
![Screenshot from 2021-07-17 13-21-15](https://user-images.githubusercontent.com/85242237/126035247-5bda40a7-2209-4c62-b0b1-d65dbde4cfab.png)

[2021-07-18 18:56] ShadiAbdelhadi commented on #606
I have successfully installed the Miniconda Environment, I appreciate your tip. Then I have tried to install the dependencies, Does this mean I have had a successful installation ?
![Screenshot from 2021-07-18 20-50-01](https://user-images.githubusercontent.com/85242237/126079090-65df478d-fef0-4a65-893a-1044031d811f.png)
![Screenshot from 2021-07-18 20-50-08](https://user-images.githubusercontent.

[2021-07-18 19:04] #606 closed

[2021-07-18 20:15] ShadiAbdelhadi opened #611 "Snap to MintPy work_flow"
Should I install Snap and Snap-Phu on Linux together with MintPy so I can import the unwrapped interferograms into MintPy?

Also, should the Interferograms be arranged in a certain order or to be exported in a certain format to be readable by MintPy? If there's a work flow tutorial would be much appreciated.

[2021-07-22 06:19] forrestfwilliams opened #613 "Mask velocity based on velocityStd"
**Description of the desired feature**
Similar to [Bekaert et al 2020](https://doi.org/10.1016/j.rse.2020.111983), I would like to implement masking of velocity data based on velocityStd data according to the formula: `|velocity| > (2*velocityStd)` . This masking procedure is helpful when trying to isolate areas that have a high magnitude of local deformation.

**Describe the solution you'd like**

[2021-07-22 23:22] yunjunz commented on #613
Hi @forrestfwilliams, both approaches sound good to me. Since the formula is not very very simple, I may prefer the 1st one as it's tighter, thus easier to understand.

[2021-07-24 12:06] ShadiAbdelhadi opened #614 "MintPy input data preparation"
I have been working with SNAP windows version. I would like to know in order to create a deformation time series, how should I arrange the input interferograms for MintPy in terms of master and slave images, the temporal separation between each consecutive interferograms. Unfortunately the workflow posted on Wiki section doesn't answer my question. I have seen a an inquiry where the user had prepa

[2021-07-27 03:33] #613 closed

[2021-07-30 00:31] asjohnston-asf commented on #540
@yunjunz Regarding incidence angles, after more review, the `lv_theta.tif` GeoTIFF we offer via the [include_look_vectors](https://hyp3-docs.asf.alaska.edu/guides/insar_product_guide/#processing-options) option may be sufficient. That GeoTIFF is generated using GAMMA's `look_vector` utility:

Based on the SAR imaging and DEM geometries the look vector is calculated for each pixel of the DEM/map se

[2021-07-30 01:06] yunjunz commented on #540
@asjohnston-asf the conversion could be applied in mintpy at [stackDict.py#L619](https://github.com/insarlab/MintPy/blob/2462b736ff6a0d35bb5d92ee515c99c97a2d9563/mintpy/objects/stackDict.py#L619) since it already handles the radian to degree conversion.

[2021-08-02 22:46] #583 closed

[2021-08-03 02:37] forrestfwilliams opened #625 "Perform MintPy processing for non-InSAR pixel offset data"
**Description of the desired feature**
Projects such as [cosi-corr](https://ieeexplore.ieee.org/document/4423207) and [autoRIFT](https://github.com/leiyangleon/autoRIFT) provide pixel offset data that could benefit from the timeseries analysis and small baseline inversion functionality of MintPy. MintPy can already process pixel offset data that is associated with some InSAR processors, but it is

[2021-08-03 12:08] bjmarfito opened #627 "DEM is not being displayed in view.py"
**Description of the problem**

I want to add a DEM on the `view.py` to generate a map of the geo_velocity.h5. However the DEM was not being read.

In `tsview.py`, the DEM is being read properly by MintPy.

**Full script that generated the error**

`view.py geo_velocity.h5 --dem ../../Sentinel1_ASC/dem/demLat_N14_N16_Lon_E120_E121.dem.wgs84`

**Full error message**

[code]

**System information**

[2021-08-03 17:48] yunjunz commented on #627
Hi @bjmarfito, this is expected, as the msg shown above `Input DEM file has different size than data file, ignore it.` This feature only works for single subplots as below, and not for multi-subplots, which is not plotted with geo-coordinates info, thus, can not handle the different size or resolution.

[code]

[2021-08-03 17:48] #627 closed

[2021-08-03 17:48] yunjunz commented on #627
I will add a more detailed WARNING msg for this in the next commit.

[2021-08-03 23:22] yunjunz commented on #625
Thank you for bringing this up @forrestfwilliams. I am not very familiar with the various choices of software and data (SAR and optical) for offsets but am very curious to see how it goes.

Your proposed solution looks good to me. I think starting with a software-specific name is good, we could always rename it in the future whenever it's ready to handle more generic data.

Having a separate workf

[2021-08-04 07:56] bjmarfito commented on #627
This is great. Thank you @yunjunz!

[2021-08-05 05:32] #520 closed

[2021-08-07 00:17] mohseniaref-InSAR opened #632 "ts_data, meta = readfile.read('timeseries_ERA5_ramp_demErr.h5') is not working?"
**import 3D time series data**

**Full script that generated the error**

[code]

**Full error message**

[code]

[2021-08-07 00:34] yunjunz commented on #632
Hi @mohseniaref-InSAR, this is a duplicated issue related to the `h5py` version constraint. Please use `h5py<3` during installation and refer to the existing issues for more explanations.

[2021-08-07 00:34] #632 closed

[2021-08-11 14:17] pbrotoisworo opened #637 "Unable to get ecCodes definition path"
**Description of the problem**

`smallbaselineApp.py` encounters an error when calculating the delay for each date. It cannot find the ecCodes variable. I've fixed this in my own scripts by setting up the environment parameters before running smallbaselineApp in my script.

[code]

**Full script that generated the error**

[code]

**Full error message**

[code]

**System information**

* Operating

[2021-08-11 15:37] piyushrpt commented on #637
Check the slashes in your path? `/` instead of `\`?

[2021-08-11 16:56] pbrotoisworo commented on #637
If you are referring to this path:

`path=D:/bld/eccodes_1616616234353/_h_env/Library/share/eccodes/definitions`

This path does not exist in my computer. I don't even have a `bld` folder so I'm not sure where this is coming from. Actually, this has been an issue for a few months but I've always been manually setting the ECCODES_DEFINITION_PATH parameter to avoid this error.

To be clear, I also d

[2021-08-11 16:57] piyushrpt commented on #637
I referred to the path that you provided. This seems to be a common issue on Windows with eccodes and not related to mintpy. You will find plenty of similar issues on other github repos that use eccodes.

[2021-08-11 17:37] pbrotoisworo commented on #637
Okay good to know that it's probably Windows related. I'll stick to this workaround for now. My current method seems to be working since the error only appears if I run `smallbaselineApp.py` directly without my scripts.

Thank you for your suggestions also. To clarify, I call it using the terminal command, but I use `subprocess.Popen()` to run terminal commands so it is still within Python. I'll j

[2021-08-11 17:38] #637 closed

[2021-08-11 21:12] mirzaees opened #638 "quick plot error"
**Description of the problem**

With the new commits in the past few days, a bug is introduced when running quick plot.
When I run smallbaselineApp.py with steps up to correct_unwrap_error, there is obviously no maskTempCoh.h5  yet.
Previously, it skipped this file and plotted the products that exist but now it is showing following error.

for example by running:

[code]

**Full error message**

[

[2021-08-11 21:32] #638 closed

[2021-08-12 07:23] pbrotoisworo commented on #447
Hello @yunjunz I've tested option 1 and 2. Option 1 works. Option 2 fails.

**Context:**
- My test scene is in London
- I used Hyp3 data that was reprojected to EPSG 4326
- In every test I started from an empty output directory and it downloads the PyAPS GRIB files

subset config I used:
`mintpy.subset.lalo         = 51.358327115205576:51.52535919942483,-0.12744078419785754:0.1733108056463519`

##

[2021-08-12 07:45] pbrotoisworo commented on #226
Hello @yunjunz

I share the MintPy workflow sometimes and I also encounter this problem because they forget to set the pyaps config.

I do this to check for pyaps credentials. Maybe MintPy can implement something similar?
The cfg file can be interpreted by the standard `configparser` library.

[code]

[2021-08-13 03:38] yunjunz commented on #226
We could add this in [tropo_pyaps3.py#L716](https://github.com/insarlab/MintPy/blob/83a2fb187699879dc208ab6ef3fa2f11ef274e1c/mintpy/tropo_pyaps3.py#L716). This should at least address one of the two FAQs. Could you issue a PR for it @pbrotoisworo?

[2021-08-13 04:29] yunjunz commented on #447
Thank you @pbrotoisworo for reminding me of this issue. I did not realize this longitude jump is around the UK, which would be pretty common. Fixing it in pyaps would make much more sense. With the commit above, this should be gone now (passed my local testing).

Let me know if it works for you please, then I will go ahead to close the issue.

[2021-08-13 04:33] yunjunz commented on #560
With the new release of version 1.3.1, users who migrated to the latest released or development version should not have this problem anymore. Close the issue.

[2021-08-13 04:33] #560 closed

[2021-08-13 09:27] pbrotoisworo commented on #447
Hi @yunjunz. The output seems to be good. There is no more error when downloading new ERA5 data and the visualization in timeseries_ERA5.h5 seems okay.

[2021-08-13 17:43] #447 closed

[2021-08-14 04:30] yunjunz commented on #540
Hi ASF team (@cirrusasf, @talogan, @asjohnston-asf, et al.) It seems like the "Heading" attribute in the example dataset that @cirrusasf put here: `https://jzhu-hyp3-dev.s3.us-west-2.amazonaws.com/hyp3-mintpy/Ridgecrest.zip` is not right: For Sentinel-1 descending track, it should be around -168, while the *.txt file shows 193.0934889.

[2021-08-16 03:47] forrestfwilliams commented on #588
Hey @yunjunz, I'd like to take this on! Where do you think the best place to start would be?

[2021-08-16 18:43] yunjunz commented on #588
That will be great @forrestfwilliams. I would imagine in `timeseries2velocity.h5`:
+ add `--save-res / --save-residual` option to turn ON the functionality (off by default).
+ add `--res-file / --residual-ts-file` option to specify the output h5 file name with default value of `timeseriesResidual.h5`
+ calculate the residual time series data to file at [timeseries2velocity.py#L659](https://github.

[2021-08-17 01:22] forrestfwilliams commented on #588
Sounds good! I'll work on it this week.

[2021-08-22 09:07] pbrotoisworo opened #644 "save_gdal.py does not work with hyp3 data"
When working with hyp3 data it is in UTM but `save_gdal.py` seems to be hardcoded to be EPSG:4326 only. This results in invalid output for GIS software such as QGIS or ArcMap.

It can be seen in this line:
https://github.com/insarlab/MintPy/blob/ab1276e917b9a05dd1f8527d3161c3608523a241/mintpy/save_gdal.py#L90

I managed to load the data into QGIS when I modified the line to use the appropriate EPS

[2021-08-22 14:02] pbrotoisworo commented on #644
Just an update. I explored the code and I see where this can be inserted. Please correct me if I'm wrong.

in `readfile.py` the spatial reference attributes are being loaded from the raster file after this line
https://github.com/insarlab/MintPy/blob/ab1276e917b9a05dd1f8527d3161c3608523a241/mintpy/utils/readfile.py#L1353

There can be a quick line that is inserted:
[code]

The function which is us

[2021-08-22 20:54] yunjunz commented on #644
Hi @pbrotoisworo, your solutions look great to me. Please feel free to issue a PR for it.

Very minor suggestions:
1. use `atr['EPSG'] = srs.GetAttrValue('AUTHORITY' ,1)` without `int()` to be able to handle files without projection info.
2. in `save_gdal.array2raster()`, use `EPSG=4326` as argument with default value.

[2021-08-23 20:22] asjohnston-asf commented on #540
FYI only, I created a sample data set for HyP3 using the same 98 S1 acquisitions (288 interferograms) as the Fernandina volcano data set for ARIA:
[code]
Not intended to be hosted there long-term, but I've made it available for now in case anyone wants to look at a HyP3 time series for a familiar data set.

[2021-08-23 20:30] #644 closed

[2021-08-27 19:07] jhkennedy opened #648 "Let's get MintPy on conda-forge"
We've got a [recipe (well, recipes)](https://github.com/jhkennedy/staged-recipes/tree/add-mintpy/recipes) to get MintPy v1.3.1 (and PyAPS3 and PySolid) on conda-forge *mostly* ready to go, but there are a few things that need to be resolved before we can open the PR to [conda-forge/staged-recipes](https://github.com/conda-forge/staged-recipes).

On the technical side:
1. :heavy_check_mark: the con

[2021-08-27 23:16] Alex-Lewandowski commented on #648
I tried adding mintpy via conda to the insar_analysis env in OpenSARlab, replacing the old install in our script with the new conda install and adding the hyp3 channel. The env created successfully. Then I tried running notebooks/SAR_Training/English/Hazards/LosAngeles_time_series.ipynb

It hung up on `!info.py inputs/ifgramStack.h5` with `/bin/bash: /home/jovyan/.local/envs/mintpy/lib/python3.8/s

[2021-08-27 23:41] jhkennedy commented on #648
@Alex-Lewandowski oh you're right! `pip` doesn't preserve the executable-ness of package files. You should be able to get it running with a:
[code]

I've pushed a commit to fix that, and an error with the deactivation script. I'll push a new build *sunday* that will fix those errors.

I'll edit this comment once it's available, so  until then, run the above command (once) after creating and activa

[2021-08-28 18:58] scottstanie opened #649 "speeding up `get_design_matrix4triplet`?"
**Description of the desired feature**

I was using the phase-closure matrix built in `get_design_matrix4triplet`, and it seemed to take longer than I expected. For reference, I had ~5000 interferograms from 100-120 SAR images, and it took around a minute to create the matrix (which was sized around (200000, 5000)

**Is your feature request related to a problem? Please describe**

https://github.c

[2021-08-28 20:31] yunjunz commented on #649
Hi @scottstanie, I like your idea a lot, it's something I thought about it similarly before but never did. Your implementation looks great to me (I commented on your fork for a few tiny suggestions). Please feel free to issue a PR for it.

[2021-08-29 05:21] #649 closed

[2021-08-29 18:36] jhkennedy commented on #648
@Alex-Lewandowski I just pushed another build; this should be fixed now!

[2021-08-30 16:00] Alex-Lewandowski commented on #648
Thanks @jhkennedy!

[2021-08-30 16:57] Alex-Lewandowski commented on #648
Just tested in OpenSARlab and it is running smoothly! I'll update the our conda environments to use it.

[2021-08-30 21:57] yunjunz opened #652 "mintpy adjustments for conda-forge"
Copy over the to-do list in mintpy to simplify the conda-forge recipe by @jhkennedy from #648:

* [ ] `test_smallbaselineApp.py` and similar should look for configs relative to itself, not `$MINTPY_HOME` or `mintpy.__file__`
* [ ] not printing on import: https://github.com/insarlab/MintPy/blob/b307f962c5b61b58ab6864a32d3d42cf144a1c99/mintpy/__init__.py#L18-L22
* [ ] Drop any reliance on manipulati

[2021-08-30 22:24] yunjunz commented on #648
This is awesome. Thank you @jhkennedy and @Jlrine2 for making the long-desired conda-forge recipe happening!!!

On the organizational side:
1. Yes, you have my full blessing!
2. I would be happy to join the maintainer list of the recipe. I guess @hfattahi would like it too?

On the technical side:
2. `yunjunz/PyAPS` is a fork of the `AngeliqueBenoit/pyaps3` repo. I have been maintaining `yunjunz/P

[2021-08-31 01:16] jhkennedy commented on #648
Okay, I'd say make a GitHub release for it (conda-forge work fine pointing at github releases), and if/when^ @AngeliqueBenoit merges your changes and publishes to PyPI, we could cut over to it easily.

Really, it might be worth proposing:
* she adds you to the repo and adds you on PyPI as an owner so that you can develop/publish from her repo, or
* she directly people to your fork and adds you as

[2021-09-01 00:06] yunjunz commented on #648
@jhkennedy here is the released version of PyAPS on `yunjunz/PyAPS`: https://github.com/yunjunz/PyAPS/releases/tag/v0.2.0.

[2021-09-01 00:42] yunjunz commented on #652
@jhkennedy could you expand more on the 3rd topic?

The code does not rely on the `MINTPY_HOME` environment variable, I made sure of that a while ago. So it should be trivia to remove from the installation note if needed; I kept it there for convenience purposes only.

[2021-09-01 19:28] jhkennedy commented on #648
Alright! I've opened the PR to get MintPy on conda forge! conda-forge/staged-recipes#16050

@yunjunz I've added you as a maintainer -- you'll just need to comment you're willing to be so on the PR.

@hfattahi , since I haven't heard from you, I didn't list you. Once the feedstock is available, you can request to be added if you want: https://conda-forge.org/docs/maintainer/updating_pkgs.html#updat

[2021-09-04 06:44] pbrotoisworo commented on #648
Just a question. I noticed in the PR that PySolid for Windows will not be included for now. I've been using Windows for MintPy for a while (Windows 8). Does that mean that if I try to install MintPy for my Windows OS via conda-forge then MintPy will not work since it is missing PySolid?

[2021-09-05 18:40] yunjunz commented on #588
It turns out I need this functionality myself now, so I added it in the PR above. Cheers!

[2021-09-05 18:41] #588 closed

[2021-09-06 00:00] jhkennedy commented on #648
@pbrotoisworo you're correct, the current conda-forge PR (Supporting MintPy 1.3.1) will not have windows builds for PySolid and MintPy.

Once all three recipes get on conda-forge, they will have their own feedstocks and it'll be easier and faster to fix the PySolid recipe (I won't have to wait on the other builds and dig through all the logs for all three recipes). It shouldn't be too hard I just

[2021-09-06 00:01] jhkennedy commented on #652
@yunjunz yep! I'll expand soon; I'm just waiting for the conda-forge PR to go through so I can point to specific things in the feedstock.

[2021-09-06 05:04] yunjunz commented on #648
Hi @jhkennedy, I just tried `conda install mintpy` in the `hyp3` channel as you noted above. Testing based on the `Fernandina` example dataset passed, which is great!

Here are my feedbacks/suggestions:

1. The `$MINTPY_HOME` env var missed the first half of the full path, as shown below; while the correct should be like `~/tools/miniconda3/envs/mintpy/lib/python3.8/site-packages/mintpy`
[code]

2

[2021-09-07 06:50] jhkennedy commented on #652
So overall, I'm coming from the perspective of "I want my build/installation tool to do as much of the work as possible." This lets the tool handle all the different OS/machine nuances and me to focus just on telling it want I want it to do.

MintPy, nicely, *could* be built/installed entirely by `pip`, and *could* qualify as a [noarch](https://conda-forge.org/docs/maintainer/knowledge_base.html#n

[2021-09-07 07:01] jhkennedy commented on #648
Yep! I fixed it in [this commit](https://github.com/conda-forge/staged-recipes/pull/16050/commits/12a3f00f2d6f4a255d769859fcf66522a079a94f) for the staged recipe (I did some simplifying/refactoring and forgot to switch `PREFIX`, which is used during build, to `CONDA_PREFIX` which is an env variable available for for the activation/deactivation scripts).

That'll need to be fixed in MintPy itself a

[2021-09-07 14:54] jhkennedy commented on #652
Oh, and I should say, the full refactor (arg-less main and a work function) isn't needed -- it's a nice to have to support the same workflows both programmatically and in the console.

Since all the minty modules have the `main` function with an optional argument, simply registering the entrypoints will work just fine!

[2021-09-08 22:10] yunjunz commented on #652
Thank you @jhkennedy for the detailed explanation! Registering the entrypoints sounds good to me in setup.py sounds good to me.

Regarding the refactoring, it seems a lot of changes. I will think about this more this weekend. Having a `noarch` version sounds great to me. My current major concern is that the `remove_hdf5_dataset.main()` style of function calls are heavily used in mintpy python scri

[2021-09-08 23:07] jhkennedy commented on #652
@yunjunz Yep! I think the heavier refactoring is just a "think about it for future development" -- I've actually got a PR started that does all the entrypoints and all but these worked^ as-is:
[code]
It looks like it won't be a heavy lift to modify those to work either.

---
^ By worked, I mean I could run `<entrypoint> --help` in bash -- that's as far as I've taken it..

[2021-09-08 23:11] yunjunz commented on #652
Awesome. Please feel free to submit your PR and we could do more testing on the entrypoints setup.

[2021-09-09 22:47] jhkennedy commented on #648
:partying_face: conda-forge/staged-recipes#16050 was merged! I'll close this issue (if no objections) once the feedstock is created and build is available.

[2021-09-09 22:53] yunjunz commented on #648
Thank you @jhkennedy for the awesome contribution!!! I cannot wait to try it.

[2021-09-10 18:51] jhkennedy commented on #648
PyAPS3, PySolid, and MintPy are all now available for install on conda-forge!

### PyAPS3 0.2.0 (noarch; linux, mac, windows for Python >=3.6)
[code]
Recipe will be maintained in the [`conda-forge/pyaps3-feedstock`](https://github.com/conda-forge/pyaps3-feedstock).

### PySolid v0.1.2 (linux, mac for Python >= 3.6)
[code]
Recipe will be maintained in the [`conda-forge/pysolid-feedstock`](https://g

[2021-09-10 19:41] jhkennedy commented on #648
MintPy is available for install on conda-forge!

### MintPy v1.3.1 (linux, mac for Python >=3.6,<3.9)
[code]
Recipe will be maintained in the [`conda-forge/mintpy-feedstock`](https://github.com/conda-forge/mintpy-feedstock).

[2021-09-10 19:41] #648 closed

[2021-09-18 07:54] Sugeradi985 opened #664 "Error occured during atmospheric correction (based on GACOS) of HYP3-derived interferometric pairs"
**Description of the problem**
An error occurred when I used Mintpy to do atmospheric correction (GACOS) on the interferometric pairs derived from HYP3 sdk.

I think it is the coordinate system differences that mattered but not sure, and GACOS data (WGS84) cannot be read normally when processing interferometric pairs (WGS84 UTM50N) derived from HYP3 sdk.

[code]

**Full error message**
[code]

**S

[2021-09-18 22:51] yunjunz commented on #664
Thank you @Sugeradi985 for reporting this bug. I agree with you that it's due to the different coordinate systems between GACOS and HyP3 products. I would suggest the following two solutions:

1. crop the GACOS products based on the SNWE of HyP3; then resize the 2D matrix. The step by step procedure would be:
+ grab the four corner coordinates of the HyP3 products in UTM;
+ convert them to lat/lon

[2021-09-21 23:51] cirrusasf opened #668 "set reference point with mintpy.reference.lalo"
**Description of the problem**
Users would like to use mintpy.reference.lalo to the reference point. The current lat and lon in this setting is in projected coordinates. This misleads users. I suggest the team to add the new setting to allow users to use longitude /latitude in WRG 84 to   set the reference point.

**Full script that generated the error**

[code]

**Full error message**

[code]

**

[2021-09-22 01:07] yunjunz commented on #668
Please use the `feature_request` template for new features, with more detailed information, e.g. for HyP3 products in UTM (I guess?).

[2021-09-22 01:07] #668 closed

[2021-09-22 17:08] cirrusasf opened #669 "a new reference point option by allowing users to input longitude/latitude in degree"
**Description of the desired feature**
current mintpy.reference.lalo in the configure file accepts y and x in projected coordinates and mintpy.reference.yx accepts the rows and cols of the data array. Can you provide the new option to define the reference point by accepting latitude/longitude in degree in WRG84?

**Is your feature request related to a problem? Please describe**

**Describe the sol

[2021-09-22 17:10] cirrusasf commented on #669
we can help to add this feature.

[2021-09-22 19:52] yunjunz commented on #669
Thank you @cirrusasf, this feature sounds reasonable and useful. One solution could be: for each geo-coordinate related option, add an accompanying option to specify a different unit from the input native one, e.g. for `mintpy.reference.lalo`, add the following template option and corresponding handling code:

[code]

Contributions are more than welcome.

[2021-09-29 02:16] 764702025 opened #675 "Un-recognized ISCE processor for metadata file: auto"
Hello, I have processed ALOS-PALSAR data by stripmapStack.py before. I am trying to load these into MintPy using the following specifications in a template file named 484.template :

load_data.py -H to check more details and example inputs.
[code]

When I run `smallbaseline.py 484.template :`
[code]

What caused such a mistake ValueError: Un-recognized ISCE processor for metadata file: auto

[2021-09-30 03:11] coastalgeo commented on #226
I am new to InSAR processing, and ran across this issue as well. With some guidance from the very kind folks at ASF, they directed me to this issue.  After some additional digging as to why my MintPy `! smallbaselineApp.py --work-dir {mintpy_dir}  {config_file}` failed with the ZeroDivisionError, I did the following:

- Reinstalled PyAPS from git repo to start fresh.
- The only key needed for my s

[2021-09-30 22:31] forrestfwilliams commented on #588
Thank you @yunjunz ! Sorry I've been absent from MintPy for a while!

[2021-09-30 23:48] cirrusasf opened #676 "does the hyp3 unwrapped-phase tif with different reference point impact the time series analysis"
We are considering making a change to our phase unwrapping protocol. We currently use the (0,0) location in the interferogram as the default reference point, and we do not set that point to zero when phase unwrapping. We are considering changing the code to select the pixel with the highest coherence to serve as the phase unwrapping reference point, and adjusting the phase difference values so tha

[2021-10-01 16:31] cirrusasf commented on #676
We are considering making a change to our phase unwrapping protocol. We currently use the (0,0) location in the interferogram as the default reference point, and we do not set that point to zero when phase unwrapping. We are considering changing the code to select the pixel with the highest coherence to serve as the phase unwrapping reference point, and adjusting the phase difference values so tha

[2021-10-02 23:10] yunjunz commented on #676
I am not aware that PU requires a manual reference point (in isce/snaphu). Anyway, the changes you describe above won't affect mintpy, as all interferograms will be re-referencing to one common point in the `reference_point` step.

[2021-10-02 23:14] yunjunz commented on #675
This is a straightforward issue, please follow the `No input metadata file found:` error msg and re-check. In addition, you should multilooked geometry files under `project/484/geom_reference`, not `project/484/merged/geom_reference`, as described in the example.

[2021-10-04 16:48] cirrusasf commented on #676
Hi Yunjun,

Thank you for your reply.

Jiang

On Sat, Oct 2, 2021 at 3:10 PM Zhang Yunjun ***@***.***>
wrote:

[2021-10-10 21:28] amitgajurel opened #678 "subset using Lat/Lon for hyp3 product fails with loading gdal"
When specifying the Lat/Lon in configuration file "mintpy.subset.lalo" (i.e. in case of hyp3 product is the UTM), the reference document has the values specified as UTM co-ordinates but will fail in subsequent step (when loading gdal).

I did find a workaround i.e. after running this script, the radar co-ordinate is displayed in the prompt. One can use that as the subset and run the whole thing. B

[2021-10-11 22:02] alejobeap opened #679 "Error Inversion"
Dear @yunjunz
I have again this error in the inversion (#546) processing, as you mentioned I have made multilook to the files: lon, lat los to the same azimuth and range (4 x 16)
![image](https://user-images.githubusercontent.com/65787135/136856267-2b8c364a-6c8c-45cb-8492-091f2a5e622e.png)

raceback (most recent call last):
  File "/home/isce/tools/MintPy/mintpy/smallbaselineApp.py", line 1255, in

[2021-10-12 02:44] yunjunz commented on #679
Similar processing-related posts should be added to the same issue, instead of creating new ones.

[2021-10-12 02:44] #679 closed

[2021-10-12 02:54] yunjunz commented on #546
The `ALOOKS` and `RLOOKS` metadata are missing in the ifgramStack file, as said in the error msg. Removing the old existing `referenceShelve/data.rsc` file and `inputs` folder and re-run mintpy should solve the issue, as the two metadata is correctly exacted for the geometry file.

[2021-10-12 02:56] alejobeap commented on #546
Thank you very much for the recommendation about publishing the error and how to fix this error, I will try it.

[2021-10-14 00:26] yunjunz commented on #588
No worries at all!

[2021-10-18 00:29] EJFielding opened #681 "geocode.py on swbdLat_*.wbd fails"
**Description of the problem**

I ran the ISCE2 stackSentinel workflow to generate a stack of interferograms in radar coordinates, and I loaded it successfully into MintPy. Now I would like to generate a water mask with the command recommended in the tutorial that runs `geocode.py` on the SRTM swbdLat_*.wbd file to project that into the stack radar coordinates, but it fails to write the output fil

[2021-10-18 02:51] #681 closed

[2021-10-18 03:50] EJFielding commented on #681
Thank you @yunjunz for the fast bug fix!
It works great again now.

[2021-10-18 16:17] EJFielding opened #683 "Copy dataset units in geocode.py"
**Description of the desired feature**

The new addition of UNIT in the `velocity.h5` output files is very helpful when we have run `timeseries2velocity.py` with a step function fit. It would be great if these UNIT were copied to the geocoded output when we run `geocode.py velocity.h5`.

**Is your feature request related to a problem? Please describe**

The `velocity.h5` file has units.
[code]
Aft

[2021-11-02 03:09] SMJMirza opened #686 "save_kmz.py for HyP3"
It seems that for the HyP3 option of the MintPy, the velocity map in KMZ format, generated by "save_kmz.py", can not be opened in Google Earth properly.
It is due to the UTM coordinates of processing that is done for the HyP3 service products by MintPy. You can find a sample of this KMZ file in the attachment.

[velocity.zip](https://github.com/insarlab/MintPy/files/7457525/velocity.zip)

[2021-11-03 06:55] jhkennedy commented on #123
This could also be setup as a GitHub Action which will publish docker images to the [GittHub container registry](https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry).

That would make the container image show up as a "Package" on the left-side bar under "Releases" on the main repository page, and you could access it like:
[code]

I'd be h

[2021-11-03 10:27] zhuhaxixiong opened #688 "ALOS1 mintpy load_data.py error"
**Description of the problem**

i generate the stack of alos1 (level 1.0 ) data by isce 2.5.3 stripMapStack.py,:
stackStripMap.py -s /public1/home/scf0015/mazhangfeng/SLC -d /public1/home/scf0015/mazhangfeng/DEM/demLat_N04_N06_Lon_E095_E097.dem.wgs84/ -m 20080916 -W interferogram -t 500 -b 1000 -a 1 -r 2 -u snaphu --nofocus
when i process SBAS in mintpy ,all the parameter set as in the following t

[2021-11-03 18:37] forrestfwilliams commented on #123
Hey @jhkennedy, yes I'd enjoy working with you on this! How do we get started?

[2021-11-04 01:16] jhkennedy commented on #123
Sounds good! @forrestfwilliams I'll put up a draft PR and request you as a reviewer and we can iterate from there.

[2021-11-04 03:34] zhuhaxixiong commented on #688
version of mintpy :1.3.1
python :3.8

[2021-11-05 23:28] yunjunz commented on #688
This seems like an ISCE-2 processing issue, you might get a better answer in their repo.

water mask is optional in both isce stack processing and mintpy, so I don't think that failure will be an issue.

The error message in mintpy reports the mismatch in the data size. I would recommend you to check that for all the files you specified in the `mintpy.load.*` options, and/or debug to locate the ca

[2021-11-07 17:27] EJFielding opened #689 "plot & save to pic section of smallbaselineApp fails with "numWorker = all""
**Description of the problem**

I used the Dask system to speed my MintPy processing with `smallbaselineApp.py`. It worked great until the end when it started the final `plot & save to pic` section. Something in that section was unable to understand the "numWorker = all" in my configuration file.

This is the configuration that I had specified:
[code]

**Full script that generated the error**

[co

[2021-11-09 08:41] #689 closed

[2021-11-09 08:44] yunjunz commented on #689
Thank you @EJFielding for reporting this. I was able to re-produce the same issue. It is now fixed by the PR above.

[2021-11-09 08:46] yunjunz commented on #518
Hi @falkamelung and @Ovec8hkin, I have implemented `num_core = os.cpu_count() / num_cpu_threads` as the translation for `numWorker = all`, as Falk suggested. Cheers.

[2021-11-09 18:36] falkamelung commented on #518
Thank you. Just to let you know dask has still a problem.  It normally does not work for me to use `numWorker= all` or `numWorker=48` on stampede. I get weired dask connection errors. I normally use `numWorker=36` which is a good compromise between failure frequency and speed.  It would be good to find out why it fails if too many workers are given. I could provide examples.

[2021-11-09 18:43] hfattahi commented on #518
@falkamelung  Could it be that you run out of memory when you have many workers? Any idea how much memory you have on that machine and how much mintpy is using with 36 or 48 workers?

[2021-11-09 19:19] falkamelung commented on #518
I don't think it is a memory problem. Here the error message that I get when I run a  small dataset with 48 numWorkers. This dataset works fine with numWorkers=6. Below the output from the `free` command.
[code]

[code]

[2021-11-09 23:42] yunjunz opened #692 "Parallel HDF5 writing support with dask"
@hfattahi and @falkamelung, I create a new issue for bookkeeping.

Regarding the issue that Falk posted at https://github.com/insarlab/MintPy/pull/518, I think the cause is: HDF5 file does not support multiple writers to one file (https://forum.hdfgroup.org/t/hdf5-parallel-writing-to-single-file-in-different-groups-from-different-python-programms/4386). This could happen more frequently when there

[2021-11-09 23:56] EJFielding commented on #689
Thanks @yunjunz for the fix.

[2021-11-10 00:01] falkamelung commented on #692
It seems that there is a certain number of workers depending on the size of the dataset for which it always works. Above that number it always fails (I think). So this 'could happen more frequently for more dask workers' does not sound plausible.

To be more precise, for large datasets 36 workers always worked, and for the small test dataset 6 workers always worked.   If it helps I could for the s

[2021-11-10 00:04] yunjunz commented on #692
Yes, a test like that would be helpful to locate the cause.

[2021-11-10 00:05] EJFielding commented on #518
The Linux server I was using recently has 16 cores and two threads per core. It ran successfully with 32 parallel dask processes. It was using files on a ZFS file system that is directly connected.

[2021-11-11 14:49] zhuhaxixiong commented on #688
maybe it is a isce issue,i found that isce have a python shelve issue when focus alos 1.0 raw data to slc,  no *.dat 、*.dir、*.bak but in conda environment these file generate ?and my mintpy  does not installed  by conda but by sudo apt install.

[2021-11-12 04:50] yunjunz commented on #518
Thank you Falk and Eric for the info. This means we still have not located the cause yet.

We may revert the `num_core = os.cpu_count() / num_cpu_threads` translation in the future once the issue is cleared.

[2021-11-12 11:59] zhuhaxixiong commented on #675
thanks for your guide that i have sucessfully solve this issue,but when i use isce 2.5.3 there are no .dir .dat .bak file in the merged/SLC/reference date/refernceShelve dir, but only a data.db file.

[2021-11-12 14:31] falkamelung commented on #692
I tried what I wanted to do. For our small test data set (2 patches) it fails with 38 num-workers, 37 num-workers work fine. There are 48 cores available.  It is not very consistent though. Sometimes  38 num-workers works. 39 num-workers always fails.

The number of 37 or 38 is familiar. I have 36 num-workers hardwired in my control files because it always works.

If we can't figure it out the rea

[2021-11-12 19:39] yunjunz commented on #692
Thank you @falkamelung for the test info. This is very helpful.

The issue seems to be caused by the large num of workers working on a small patch, (all of them can finish pretty fast and write at the same time). The conflict from multiple writers to the HDF5 file stills seems reasonable to me.

Could you try the following?
1. change the line below to `y_step = int(np.ceil((length / num_box) / 10)

[2021-11-13 23:01] yunjunz commented on #692
1. In mintpy, results from all workers are collected together first, then write into HDF5 file at once, so there is no conflict for parallel writing to HDF5 file.

2. The `numWorker = all` works in the caltech machine with 32 cores, and not in stampede with 48 cores. I still do not know why. So I restore the `numWorker = all` to use `os.cpu_count()` without dividing by the num threads per core.

3

[2021-11-13 23:09] yunjunz commented on #518
All the other errors, e.g. `no access to file`, `negative dimension size`, have been fixed by the PR above. The remaining ​re-occurring error is `OSError: Timed out during handshake while connecting to tcp` from dask. A quick search and try did not fix this issue completely on stampede.

To better handle this situation, I added the support of `mintpy.compute.numWorker = 75%` style input in the lin

[2021-11-13 23:24] #692 closed

[2021-11-13 23:27] yunjunz commented on #678
Close this issue as it is confirmed to be resolved.

[2021-11-13 23:27] #678 closed

[2021-11-14 15:30] #688 closed

[2021-11-14 15:30] zhuhaxixiong commented on #688
has been solved

[2021-11-17 11:15] pbrotoisworo opened #698 "AttributeError: module 'numpy' has no attribute 'float128' in coord.py"
I just updated my MintPy and now I have this error where NumPy has no attribute `float128`.
It comes from this line:
https://github.com/insarlab/MintPy/blob/d2727e06b8fea2d74ff870e5c989bbd9485515eb/mintpy/objects/coord.py#L89

I looked into it and it seems that float128 is not supported on Windows OS. I removed `np.float128` from the line and my analysis works with no error.

See related Github is

[2021-11-17 19:32] yunjunz commented on #698
Thank you @pbrotoisworo for the bug report and proposed fix. `np.float128` is not really used anywhere in the mintpy code, so there is no issue with removing it. But I prefer the replacement to `np.longdouble` solution, to remind us of this issue and for future reference. Could you issue a PR for your fix?

[2021-11-18 07:21] #698 closed

[2021-11-22 03:05] #675 closed

[2021-11-23 01:52] yunjunz opened #705 "temporary constraints on the dependencies max version number"
Add a reminder here to unset the following maximum version number constraints, due to temporary issues/bugs in the upstream dependencies.

+ [x] (un)set `h5py<3` due to https://github.com/h5py/h5py/issues/1750
   - #470
   - #474
   - https://github.com/insarlab/MintPy/pull/743
+ [x] (un)set `matplotlib<3.5`  due to https://github.com/matplotlib/matplotlib/issues/21711
    - #704
    - #706

[2021-12-01 00:57] rbiessel opened #708 "GPS Stations as "Tie Points" instead of Reference Points"
I'm not sure I really understand the reference point selection when displaying a velocity map. From what I understand, the velocities are referenced to some point, as opposed to re-referencing the time series and recomputing the velocity map? It also seems then that `--ref-gps` option sets the velocity at that point to zero, regardless of the actual velocity of that station.

 I would like to be a

[2021-12-01 03:04] yunjunz commented on #708
1. re-referencing the velocity from point P to Q
2. re-referencing the time-series from point P to Q, then re-calculate the linear velocity

The resulting linear velocity is exactly the same between 1 and 2. @olliestephenson and I confirmed this via math and real data experiment.

[2021-12-01 03:16] yunjunz commented on #708
@rbiessel Your idea of tieing the InSAR time-series or velocity to GNSS via one or multiple tie points sounds all good to me. I am happy to answer any questions you may have.

You may want to implement it in a jupyter notebook or eventually an independent script, I would not suggest integrating it into `view.py` as it's pretty complicated there already.

[2021-12-10 03:59] XJQiao commented on #540
Hi guys,

I am trying to play with Mintpy and Hyp3 on Google Colab these days.

I am using "!smallbaselineApp.py mintpy/**RidgecrestSenDT71.txt**", but got stuck at the step of "modify network" (as shown in the end). Any hints on this issue?

Appreciated!

Best,
Jun

******************** step - modify_network ********************
WARNING: "coherence" is missing in file /content/RidgecrestSenDT71/i

[2021-12-10 15:50] forrestfwilliams commented on #540
It looks like your `ifgramStack.h5` may have failed to load correctly and you don't have the required `coherence` dataset. Could you run `info.py inputs/ifgramStack.h5` and paste the output here?

[2021-12-10 18:30] XJQiao commented on #540
@forrestfwilliams Appreciated you!

After I rerun the code once again this morning, the bug was gone. I guess I passed a wrong path of input files, leading to no output file of ifgramStack.

Then, I encountered the next issue (attached in the end). I will look into this later, which seems due to no output file of avgPhaseVelocity.h5.

Have a nice day!

Best,
Jun

******************** step - quick_

[2021-12-14 10:44] ilayfarimaz opened #711 "ElementTree.ParseError: no element found: line 1, column 0"
**Description of the problem**
I generated a stack of interferograms for my region. I ran stackSentinel.py on environment which has isce2 v.2.5.3 and python version for related environment is 3.9
When I try to load this stack into mintpy, a parsing error occurs. The environment includes mintpy has python version 3.8, which is the highest version possible. And also isce 2.5.3 is loaded on this envi

[2021-12-15 19:45] yunjunz commented on #711
I agree with you that this seems to be an issue due to the mixing of different versions of python env. More specifically, I don't think isce2 is installed in your python3.8 environment. You could run the printout `prep_isce.py ...` command as test and confirm.

The upgrade of python 3.9 is planned for mintpy and on the to-do list. For now, the easy fix would be to install both isce2 and mintpy in

[2021-12-17 09:11] ilayfarimaz commented on #711
Thank you for your answer.
I run prep_isce.py, it works well. So I'll interpret interferograms once again under my 3.8 env.

Looking forward for 3.9 upgrade, thanks

[2021-12-17 09:11] #711 closed

[2022-01-04 20:16] forrestfwilliams opened #716 "asc_desc2horz_vert: compute average temporal coherence"
In addition to the horizontal/vertical velocity maps produced by `asc_desc2horz_vert.py` I find that I often want an average temporal coherence map that covers the same area as well. I would like to take the temporal coherence maps, co-register them in a similar manner to the asc/desc velocity maps, then average them to get the average temporal coherence. @yunjunz this doesn't necessarily fall wit

[2022-01-04 23:14] yunjunz commented on #716
Hi @forrestfwilliams, `asc_desc2horz_vert.py` applies the LOS2EU decomposition only. Based on your description, if you have two temporal coherence file in the same spatial coverage and resolution, calculating the average of the two can be done as below:

[code]

[2022-01-05 01:57] forrestfwilliams commented on #716
Haha yes that makes a lot more sense. Thanks for pointing me in the right direction!

[2022-01-05 01:57] #716 closed

[2022-01-11 17:15] mirzaees opened #718 "Hardcoded values sometimes do not work"
**Description of the issue**

There are a few things that are hardcoded and sometimes do not adapt with full res data.
So I sometimes get error or the step is skipped. I am listing two here:

1. The step size in solid earth tide function (It is a large value, when I set it to 3e2, it works):
https://github.com/insarlab/MintPy/blob/4357b8c726dec8a3f936770e3f3dda92882685b7/mintpy/solid_earth_tides.p

[2022-01-11 18:10] yunjunz commented on #718
Hi @mirzaees, for `solid_earth_tides.py`, an easy solution could be calculating a value adaptively based on the input file info, e.g. `pixel_step = ut.round_to_1(abs(float(atr['Y_STEP'])) * 30)`.

For the `unwrap_error_phase_closure.py`, adding a template option sounds good to me.

[2022-01-11 20:31] mirzaees commented on #718
Thank you @yunjunz, I will make a PR for this

[2022-01-11 20:31] #718 closed

[2022-01-20 06:02] olliestephenson opened #725 "Issues with file permissions when using Dask"
tl;dr: Problems with Dask being able to acquire a workspace lock on path can be solved by changing the path that Dask uses.

**Description of the problem**

When using Dask to do parallel processing with Mintpy (as described here: https://mintpy.readthedocs.io/en/latest/dask/) I have been running into problems related to file permissions.

The problem arises during the invert_network stage of Mint

[2022-01-21 19:35] #725 closed

[2022-02-02 01:28] bbuzz31 opened #736 "Unexpected changes while geocoding"
I've run into two issues regarding commit 70d606ee

1. I can no longer geocode a watermask (created iwth `generate_mask.py` ) as it doesn't have the heading attribute:
-```/mintpy/utils/utils0.py", line 222, in auto_lat_lon_step_size
    az_angle = np.deg2rad(abs(heading2azimuth_angle(float(atr['HEADING']))))
KeyError: 'HEADING'```

2. The size of the geocoded files (for example temporal coherence

[2022-02-02 01:52] yunjunz commented on #736
While introducing this back-incompatible change, I thought about the potential missing metadata issue, thus, I introduced the `try/except` check to fall back to the old behavior in that scenario. Was this your case, or you had a running error? If so, could you please paste the full message here?

As we don't always know which file (source data file or lookup table file) has more complete metadata,

[2022-02-02 01:55] bbuzz31 commented on #736
Thanks @yunjunz I was literally in the process of editing my comment as yours poppsed up, as I just saw the commit message. Thanks for the quick response!

Regarding the first point, the program halts with the following error:
[code]
I'll take a more detailed look tomorrow and see why the `try/except` check isn't working

[2022-02-02 17:06] bbuzz31 commented on #736
Hi @yunjunz, the reason the try except error isn't working is because there is a `KeyError` getting thrown and the current formulation is set to catch an `AttributeError`.
- Simply fixed by changing `except AttributeError:` to `except KeyError:`

For searching the metadata we would prefer to use the `self.src_meta` over `self.lut_meta` yes?
Alternatively, could we just create a new merged dictiona

[2022-02-03 05:53] yunjunz commented on #736
Hi @bbuzz31, your solution of using `KeyError` and "merging dictionaries" sounds great! Could you issue a PR for it?

My only suggestion is to use `meta = {**self.src_meta, **self.lut_meta}` to merge the dictionaries, as `self.lut_meta.copy()` is not a deep copy (https://stackoverflow.com/questions/2465921/how-to-copy-a-dictionary-and-only-edit-the-copy).

[2022-02-04 00:59] bbuzz31 commented on #736
Great, will do.

[2022-02-04 10:29] olliestephenson opened #739 "Problem with timeseries2velocity when excluding dates and outputting residuals"
**Description of the problem**

When running `timeseries2velocity.py` with both `--save-res` and `--exclude` parameters, we have an issue with the resulting residuals output.

At [L.483](https://github.com/insarlab/MintPy/blob/b33fefc4479c08448289190d586a628d2c60ffa8/mintpy/timeseries2velocity.py#L483) we layout an hdf file for saving the residuals, however we use the original timeseries file as t

[2022-02-04 18:26] yunjunz commented on #739
Thank you for pointing out this issue @olliestephenson! Note that `ds_name_dict` from `model2hdf5_dataset()` is for the time function parameters, not for time series. But surely we could prepare a set of ds_name_dict for this purpose.

On the one hand, having the residual TS file in a different size than the input TS file is special and can be a useful feature (for more advanced iterative time ser

[2022-02-06 03:59] #736 closed

[2022-02-07 21:47] yuankailiu commented on #739
I just try to create a new `ds_name_dict_R` (a new proposed dictionary just for the time-series residuals output) to feed into `layout_hdf5 ()`. So that it is not just based on the `ref_file`, but also taking into account the `inps.excludeDate`.

This is done here in this [temporary branch](https://github.com/yuankailiu/MintPy/commit/83f75b04062694ee8c5ac1db1b674699e7757934)

I tested it and it wo

[2022-02-09 00:48] EJFielding opened #741 "Indexing arrays must have integer dtypes"
**Description of the problem**

Network inversion step of smallbaselineApp fails.

**Full script that generated the error**

[code]

**Full error message**

[code]

**System information**

* Operating system:  Linux (NISAR On-demand instance)
* Python environment:  Conda
* Version of MintPy:  MintPy version v1.3.2, date 2021-11-21
* Your custom / default template file (if the bug is related to a s

[2022-02-09 01:21] bbuzz31 commented on #741
Hi @EJFielding I recently encountered this as well (https://github.com/insarlab/MintPy/pull/735#issuecomment-1028629796). Believe you should be able to get around it by downgrading h5py `h5py<3`

[2022-02-09 03:19] EJFielding commented on #741
Thanks @bbuzz31 for the hint. I tried `conda install "h5py<3" and it found a huge number of conflicts. We have been using a conda_env.yml file with:
[code]

[2022-02-09 04:28] scottstanie commented on #741
Since it's becoming more and more difficult for everyone to keep the correct version as other libraries use version 3.0, does it make sense to just add the fix where you convert the indexes to integers? Or would that definitely mess something else up? Changing it in a couple places in my fork worked for me (but I didn't extensively test it)

[2022-02-09 04:38] yunjunz commented on #741
Yes, we should use the fix. Most of the occurrences, if not all, has been marked here (https://github.com/insarlab/MintPy/pull/470).

From:

[code]

To:

[code]

I did not use the recommend `ds[flag.nonzero()[0], y0:y1, x0:x1]` because `flag.nonzero()[0]` gives a list of index, which can be very slow when the list is long, if I remember it right.

Pull requests are welcomed!

[2022-02-10 06:38] #741 closed

[2022-02-10 06:39] #705 closed

[2022-02-10 06:45] EJFielding commented on #741
Thanks @bbuzz31 for the fast fix and @yunjunz for the review and merge.

They already changed the conda installation on the NISAR On-demand system to install MintPy a different way that also installs an older `h5py`. It also finishes the conda environment installation in about 5 minutes instead of three hours, so I don't want to try re-running the old installation and I can't test this new version

[2022-02-11 19:12] yunjunz commented on #739
Thank you @yuankailiu for the follow-up. It seems to me that we could just change

from:

https://github.com/insarlab/MintPy/blob/2499eeb7ed1ff03d1a341505485e1f9e7c346cba/mintpy/timeseries2velocity.py#L483

to

[code]

Could you please confirm, and maybe issue a PR for it?

[2022-02-14 04:39] yuankailiu commented on #739
This will work. But the data type of the "date" is giving me an error when creating the dataset.

[code]

I cannot figure out the correct data type, could you help me? Thanks!

[2022-02-14 04:45] yunjunz commented on #739
Do you have the code change somewhere on Github that I could take a look at?

[2022-02-14 04:48] yuankailiu commented on #739
Please look at here: https://github.com/yuankailiu/MintPy/commit/35950bd0feb36685719d61fcd85a8fe87b36f0e2

Thanks!

[2022-02-14 05:34] yunjunz commented on #739
I got the same error as you. Using `np.dtype('S8')` instead of `np.string_` seems to fix the issue. Note the `bperp` dataset is not required, and the current value you had is not right.

We should allow flexible character length for the `date` dataset, as it can be in `YYYYMMDDTHHMM` format, e.g. for UAVSAR data.

[code]

[2022-02-14 19:37] #739 closed

[2022-02-18 21:28] yunjunz opened #747 "Python3.9 support"
I am testing mintpy in python 3.9. After [relaxing python version constraint in the requirements.txt](https://github.com/yunjunz/MintPy/commit/d88bac1), I installed mintpy development version as below, similar to what we have in `.circleci/config.yml`:

[code]

Local testings of `$MINTPY_HOME/tests/test_smallbaselineApp.py` on macOS and Linux passed without error, but somehow the [circle CI test](

[2022-02-19 00:02] piyushrpt commented on #747
Check `poppler` version in the environment that gets created.

[2022-02-19 04:24] yunjunz commented on #747
After activating the strict channel priority as below, circle CI starts to install poppler version 22 from conda-forge channel, and [testing passed](https://app.circleci.com/pipelines/github/yunjunz/MintPy/989)! Thank you @piyushrpt for the insight!

[code]

[2022-02-22 02:09] #747 closed

[2022-03-04 11:04] svenborgstrom opened #749 "Save_qgis.py --zero-first"
Goodmorning,
currently the "save_qgis.py" script doesn't support a flag like "--zero-first" (as in tsview.py) to set to "0" the first value of the resulting shape file. Is there a colleague/developer who can take care of this?
Thanks,
Sven Borgstrom.

[2022-03-04 19:40] yunjunz commented on #749
In a nutshell, it should work similarly to the `tsview.py --zero-first` option, by changing the reference date to the first date on the fly.

A more detailed description of the desired functionality is on the user forum: https://groups.google.com/g/mintpy/c/_BDhjO4-KNc.

[2022-03-07 20:01] yunjunz commented on #686
KML takes south, north, east, west in degrees, so you could use [ut.to_latlon()](https://github.com/insarlab/MintPy/blob/main/mintpy/utils/utils0.py#L291) to do the conversion at [save_kmz.py#L338](https://github.com/insarlab/MintPy/blob/main/mintpy/save_kmz.py#L338).

A similar approach can be done for save_kmz_timeseries.py as well.

[2022-03-16 09:13] NKakar opened #752 "modify_network - IndexError: boolean index did not match indexed array along dimension 1"
**Description of the problem**
I was able to load the data and with the modify_network, I am having the error. I am using default settings. I don't know what should i change for just applying the default settings to test.

Thanks for the replies.

**Full script that generated the error**

[code]

**Full error message**

[code]

**System information**

* Operating system:  Linux
* Python environmen

[2022-03-17 09:48] #752 closed

[2022-03-28 12:55] NKakar commented on #686
Dear @yunjunz,
I was not able to fully understand your last comment,
Do you mean to change the _west, east, south, north = ut.four_corners(meta)_ to _west, east, south, north = ut.to_latlon_? in the save_kmz.py file? or something else.

[2022-03-29 06:52] NKakar commented on #686
Thank you @geofysue,
some minor changes worked for me as followings:
    ############# new lines added by me
    import utm # Please install utm as **pip install utm** first and the following code must work as described by @geofysue
    north, east = utm.to_latlon(east, north, 42, 'T') # you need to specify zone_number and northern=True or False, or letter.
    south, west = utm.to_latlon(west, so

[2022-03-29 10:29] geofysue commented on #686
@NKakar, I do have an offset too and I don't know how to correct it, but mine is about 100 metres. Hopefully someone can help with this.
![Captura de pantalla de 2022-03-29 12-29-03](https://user-images.githubusercontent.com/100223785/160592163-0ec45397-8785-4b7b-bbcd-5951c2ffc35a.png)

[2022-03-29 11:48] NKakar commented on #686
@geofysue, I hope there is a solution for it. I wanted to ask what changes are required in **save_kmz_timeseries.py** did you fix this one too? if yes, can you share the changes too.

[2022-03-29 12:06] geofysue commented on #686
@NKakar, yes, it is similar. I import my function from save_kmz, but you could use utm package.

Line 131:
[code]

Line 383:
[code]
I think this works fine.

[2022-03-29 23:24] yunjunz commented on #686
Note that the `UTM_ZONE` and `EPSG` code are saved in the metadata as well, for hyp3 products. So one could extract them to make this conversion generic.

[2022-03-31 07:39] NKakar commented on #686
The same approach introduced by @geofysue works fine for the **save_kmz_timeseries.py**. There is no such offset in the kmz file and google image. If the data is same, why the program is introducing an offset.

[2022-03-31 18:28] yunjunz commented on #686
One possible issue could be that: in `save_kmz_timseries.py`, the coordinate of every pixel is converted, while in `save_kmz.py`, only the 4 corners are used in the conversion, the rest is stretched assuming a polygon in Google Earth overlay object, the location accuracy for those pixels could be due to the distortion between lat/long and UTM coordinate system. How much are these potential distort

[2022-04-18 12:14] SMJMirza commented on #686
Sorry, Yunjun, I followed your updated information about opening the UTM-based KMZ files from MintPy into Google Earth, but it did not work. So, do you think that another way (changing the codes to get the suitable format of KMZ files) can be better?

[2022-04-20 04:43] falkamelung opened #762 "geocoding default posting not right"
**Description of the problem**
The default geocoding posting has too coarse posting. This seems to have been introduced by a recent PR (see below). If you click on the left image, you will clearly see the too coarse posting. The right (old) one is fine.

April 2022 version (current)
[code]
August 2021 version
[code]
| April 2022 version| August 2021 version |
| ------------- | ------------- |
|<im

[2022-04-21 04:10] yunjunz commented on #762
Hi @falkamelung, it seems that the auto step calculation based on the metadata `AZIMUTH/RANGE_PIXEL_SIZE` is not correct, could you check these two in your dataset, to confirm they are reasonable?

If yes, then could you share the `velocity.h5` and `geometryRadar.h5` files for me to reproduce this issue?

[2022-04-21 04:43] falkamelung commented on #762
Hi @yunjunz ,
Yes, you are right!  The *_PIXEL_SIZE fields have been multiplied by the number of looks. This is a MiaplPy issue.  Maybe  @mirzaees  has a solution?

info.py /scratch/05861/tg851601/StHelensSenAT137/minopy/inputs/geometryRadar.h5 | grep PIXEL_SIZE
  AZIMUTH_PIXEL_SIZE        93.62983128118586
  RANGE_PIXEL_SIZE          55.90949075316776
//login3/scratch/05861/tg851601/StHelensSenAT

[2022-04-28 22:47] yunjunz commented on #762
Close this issue as the cause has been identified and is outside of mintpy.

[2022-04-28 22:47] #762 closed

[2022-05-14 04:32] mosyhey commented on #686
Thanks to all,
Some more changes in `save_kmz.py` to make it more generic (for hyp3 products):
[code]

[2022-05-14 06:09] SMJMirza commented on #686
@mosyhey Thank you for your changes. Did you see any shift in your generated KMZ files by these changes in the "save_kmz.py" file? I can see that others reported this shift in the files.

[2022-05-14 13:43] mosyhey commented on #686
@SMJMirza I'm still working on the example dataset `RidgecrestSenDT71`. There is a small negligible distortion here, but I think it's ok. As you can see, corner points `DL` and `UR` have located nearly exactly, and `DR` and `UL` have an offset of 650m and 1300m respectively. The `Reference Point` at the bottom of the map has a 450m offset. The lake in the middle also has a slight shift.

![Ridgecr

[2022-05-14 14:30] SMJMirza commented on #686
@mosyhey Thank you so much for your reply and description. I can see the KMZ file format in the HyP3 downloaded folders. I am trying to ask the HyP3 support team to find a way to fix this issue.

[2022-05-16 15:38] ThreeIcug opened #773 "Error : "PyAPS: Mask array size mismatch""
**Description of the problem**
I try the GMTSAR with MintPy.  When finish the download of ERA file and do run_tropospheric_delay_correction,  it print the error .   But when I  run  smallbaselineApp.py  with  --start correct_troposphere, the tropospheric correction is ok. And it print another error at the step of plot & save to pic.

### ERROR 1

[code]

### ERROR 2

[code]

I check the ERA data,

[2022-05-17 03:14] ThreeIcug commented on #773
I have sloved the problem. the reason is  the dem data has error.

[2022-05-17 03:14] #773 closed

[2022-05-19 16:21] mosyhey commented on #686
Thanks to all.
Some attempts to make `save_kmz_timeseries.py` more generic (for hyp3 products):
[save_kmz_timeseries_new.zip](https://github.com/insarlab/MintPy/files/8732098/save_kmz_timeseries_new.zip)

We need an import and a user-defined function at top of the file, in line 28:
[code]
Also adding this piece of code in lines 131, 236 and 380:
[code]

[2022-05-19 16:58] mosyhey commented on #686
In this case, it seems the points are located exactly, something like persistent scatterer (PS) points.
Here, we set the `--step` of points to `1` i.e. every pixel (80m):

![save_kmz_timeseries_1](https://user-images.githubusercontent.com/105506772/169355333-19caf58e-c813-470e-bdc1-c1042d45d840.png)

[2022-05-23 19:44] sssangha opened #776 "GPS query timeout"
**Description of the problem**

Whenever I attempt to query GPS stations for a given area and time to replicate some previous efforts, I encounter a timeout error.

Not sure if this is transient, but this has been going on throughout the day and others that ran it before me today went through just fine.

**Full script that generated the error**

[code]

**Full error message**

[code]

**System inf

[2022-05-23 20:43] yjzhenglamarmota opened #777 "add_arrow does not support geocoded file in plot_transections.py"
https://github.com/insarlab/MintPy/blob/5405746ed87bb7f8854ee8d7560173099864a40c/mintpy/plot_transection.py#L324

This line gives an error message when working with geocoded files.

Also when using interactive graphics with plot_transections.py, zooming in at one location counted as one click.

[2022-05-23 21:47] yunjunz commented on #776
Thank you for reporting this issue @sssangha. It seems that the UNR GNSS website (http://geodesy.unr.edu/NGLStationPages/gpsnetmap/GPSNetMap.html) is down. I just tried and could not open it. Maybe sending them an email?

[2022-05-23 22:23] #777 closed

[2022-05-25 10:57] periglacial opened #782 "SNAP and MintPy "WARNING unwrapPhase/coherence file missing for pair""
**Description of the problem**

Hello,
I'm trying to load a stack of geocoded interferograms into MintPy that I prepared using SNAP (snappy). However, the 'load_data' step in 'smallbaselineApp.py' returns a 'file missing for pair' warning for the entire stack. I have checked the size of every coherence and unwrapped phase images, including the DEM and they all have the same size (according to SNAP

[2022-05-26 17:35] sssangha commented on #776
@yunjunz as an update, I just received the following response from the UNR team:
"Our web server is down, apparently damaged by a power outage event.

We have managed to port the web server to a different machine, but we are waiting for IT to have it respond to [geodesy.unr.edu](http://geodesy.unr.edu/) and have the http port open through the campus firewall.

Unfortunately it is a holiday weekend

[2022-06-02 06:34] Chong-You opened #788 "A bug in asc_desc2horz_vert.py"
**Description of the problem**
The error raises due to the undefined variables  when the differences between two reference points for two tracks exceed the threshold.

**Full script that generated the error**

[code]

**Full error message**

[code]
**Solution**
[code]
Since ref_yx  is not used in the whole script, I remove it.

**System information**

* Operating system:  Ubuntu
* Python environme

[2022-06-02 06:46] Chong-You commented on #788
Oh, I just found that this bug has been fixed on May 10.

[2022-06-02 17:07] #788 closed

[2022-06-10 18:59] yunjunz opened #789 "add `HDF5_STATUS` attribute into file writing and run_or_skip() checking"
**Description of the desired feature**

With the current version of HDF5 writing via `writefile.layout_hdf5/write_hdf5_block()`, the h5 file is complete even if the process is killed in the middle. This leads to a failed run_or_skip checking in the update_mode.

**Describe the solution you'd like**

Add a new attribute, called `HDF5_STATUS`, assign it to `EMPTY` in `writefile.layout_hdf5()` and ch

[2022-06-11 08:15] Arctic-Ambrun commented on #686
Share something I found recently. these images should be transfer from WGS84 UTM to WGS84 lat/lon first. but when a Image cross the Equator, the transform process could be wrong. Now I`m still working on it.

[2022-06-12 03:55] Arctic-Ambrun commented on #686
@yunjunz Mr.YunJun, I have figured out the reason. Here are two method, which do you want me to supply? One method is reprojection from WGS84 UTM to WGS84 lat/lon and clip all the AOI.(finished scripts, testing, especially when crossing the Equator) One method is change the geo coordinates of Geometory.h5 (Have not tried yet).

[2022-06-13 03:41] mosyhey commented on #686
Thank you @Arctic-Ambrun.  We are interested to see the result.

[2022-06-13 04:30] Arctic-Ambrun commented on #686
@mosyhey Mr.mosyhey, it goes like this
![Screenshot from 2022-06-13 12-26-02](https://user-images.githubusercontent.com/81725312/173279941-0eaac20f-44be-4d25-aea3-00167ad4449d.png)

[2022-06-16 08:28] ThreeIcug opened #793 "About the tropospheric delay correction"
**Description of the desired feature**
 The Mintpy is a nice code for SBAS. Recently,  I try to process the Tibet data, none of the three methods of tropospheric delay correction seem to achieve a good result. So I wonder if the Global Atmospheric Models is not enough for plateau applications. Then, I found an paper of the Tymofyeyeva, E. and Y. Fialko (2015), they think the atmospheric noise is r

[2022-06-16 13:13] mosyhey commented on #793
Dear @ThreeIcug,
If you have tested some atmospheric correction methods, can you compare them briefly?
In your study area, which was the best? Did the GACOS method work better or the ERA5 method?

[2022-06-16 15:44] ThreeIcug commented on #793
@mosyhey
My study area is in the Qilian Mountains. I have tried three methods supported by Mintpy. I think the GACOS is the best in that area. Because the time series is smoother in space and time than other. But there are still problems in some areas.
@scottstanie very kind of you, i will try it.

[2022-06-16 18:11] yunjunz commented on #793
@ThreeIcug adding the method from Tymofyeyeva & Fialko (2015) is not on my to-do list, unfortunately, but contributions are welcomed.

The power-law method from Bekaert et al. (2015, JGR) is another potential option and is available through [TRAIN](https://github.com/dbekaert/TRAIN). It's not directly compatible with mintpy format, but should be straightforward to make the connection.

The method

[2022-06-18 07:12] mosyhey commented on #793
Evaluation of MintPy tropospheric delay correction methods by comparing InSAR info with CGPS data, in a case study area:

![los_insar_gps](https://user-images.githubusercontent.com/105506772/174427126-c6ee9c15-6f59-43d5-8836-e7b23dd18648.png)

[2022-06-18 14:36] mosyhey commented on #664
You need to add this piece of code to `tropo_gacos.py`, line 120 (after `geo_box` part):
[code]
Be aware that there is a very small and negligible rotation in converting a shape from UTM into Lat/Lon coordinate system.

[2022-06-28 18:23] yunjunz opened #801 "@yunjunz the issue does come down to X.Org windows system issue, that is a bit annoying to work around and can induce some security risks. Further reading:"
@yunjunz the issue does come down to X.Org windows system issue, that is a bit annoying to work around and can induce some security risks. Further reading:
* https://stackoverflow.com/questions/46018102/how-can-i-use-matplotlib-pyplot-in-a-docker-container
* https://mybyways.com/blog/running-linux-gui-applications-in-a-docker-container-using-xpra

There's a couple tools that solve a lot of the iss

[2022-06-28 18:42] #123 closed

[2022-06-29 10:38] sisi-ali commented on #801
Hi, dear yunjunz
can you guide me please, on how can I install package closure_phase_bias.py?

[2022-06-30 22:49] yunjunz commented on #782
@periglacial I was able to reproduce the error you have with your attached dataset. The issue is because the date12 format of the interferogram folders are in DDMMYYYY; after changing it to YYYYMMDD, it works. Cheers.

[2022-07-01 00:07] yunjunz commented on #686
Hi @Arctic-Ambrun, sorry for the late response. I think method one is great if I understand you right: reprojecting a 2D image/matrix from UTM to lat/long. This can be a very useful function, and a PR is more than welcomed!

[2022-07-02 04:29] Arctic-Ambrun commented on #686
sure, I will upload a script next week

获取 Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Zhang Yunjun ***@***.***>
Sent: Friday, July 1, 2022 8:07:59 AM
To: insarlab/MintPy ***@***.***>
Cc: WANG, JiaGeng [Alumni] ***@***.***>; Mention ***@***.***>
Subject: Re: [insarlab/MintPy] save_kmz.py for HyP3 (Issue #686)

Share something I found recently. these images sho

[2022-07-14 17:38] yuankailiu commented on #725
Thanks for documenting and researching this issue. That helps!

[2022-07-17 07:20] dream81 opened #815 "Error in load_data"
isce: 2.4.2
mintpy: 1.3.3
TestSen.txt:
##-------------------------------- MintPy -----------------------------##
########## 1. Load Data (--load to exit after this step)
## load_data.py -H to check more details and example inputs.
mintpy.load.processor        = isce
##---------for ISCE only:
mintpy.load.metaFile         = ../reference/IW*.xml
mintpy.load.baselineDir      = ../baselines
##---------

[2022-07-17 13:45] yuankailiu commented on #815
Hi @dream81, this is just an input format error in the template. I believe it's here:

[code]

It should be `auto` if you want to ignore the water mask.
[code]

</br>
By the way (not related to this error you report), your filenames for isce output files are weird. This could result in a further issue while reading the files in loading data.

[code]

I remember in isce, the default output is put i

[2022-07-18 02:29] dream81 commented on #815
Thank you @yuankailiu  for your quick response. It works well.

[2022-07-18 02:29] #815 closed

[2022-07-19 09:22] geofysue commented on #686
Hi, I'm wondering if the code presented at Arctic-Ambrun:prep_hyp3_crop (pull request) is working and if it will be added to main. What are the steps to use it correctly? Thanks

[2022-07-19 09:44] Arctic-Ambrun commented on #686
Yeah I have uploaded the script but not approved yet, It works fine for me, so far. unzip all ASF zipped files in a INPUT folder and make a OUTPUT. USE -h to see the usage. the crop option is a optical parameter, you can put up to four parameters of NESW

[2022-07-19 10:15] geofysue commented on #686
Therefore, if we use prep_hyp3_crop, there is no need to modify save_kmz.py and save_kmz_timeseries.py?

[2022-07-26 09:05] periglacial commented on #782
@yunjunz Thank you for looking into this. Your solution works, I can't believe it was something so simple!

[2022-07-26 09:06] #782 closed

[2022-07-27 03:01] Arctic-Ambrun commented on #686
Hi @geofysue , Yes, Sorry to reply you so late. the script has changed the coordinate already. And I realize so far the little script is not qualified enough and needs further maintenance. But It can deal the coordinate now. Maybe we can do it together? I think

[2022-07-27 07:15] geofysue commented on #686
Hi @Arctic-Ambrun , thanks. Alright, I can help you with this, but I'm not an expert in programming.

[2022-07-28 08:24] zNevermind commented on #773
Hello, I'm trying to run Mintpy with GMTSAR processor. I had the same problem,

**AssertionError: PyAPS: Mask array size mismatch**

How did you solve it?

DEM data was generated from GMTSAR.

Thanks.

[2022-07-28 08:25] zNevermind commented on #773
Hello, I'm trying to run Mintpy with GMTSAR processor. I had the same problem,

AssertionError: PyAPS: Mask array size mismatch

How did you solve it?

DEM data was generated from GMTSAR.

Thanks.

[2022-08-02 06:44] sisi-ali commented on #168
hi
I am working in ISCE software,
I want to download Dem but I can’t download. I have had this issue for 10 days
I have an error:
isce.contrib.demUtils.DemStitcher - WARNING - There was a problem in retrieving the file http://e4ftl01.cr.usgs.gov/MEASURES/SRTMGL1.003/2000.02.11/N30E048.SRTMGL1.hgt.zip. Exception

would like help me please.

[2022-08-16 11:07] zNevermind opened #830 "Error : "PyAPS: Mask array size mismatch""
I'm trying to run Mintpy with GMTSAR processor. When I finish downloading the ERA files and run **tropo_pyaps3.py**, it print the error.

Error:

calculating absolute delay for each date using PyAPS (Jolivet et al., 2011; 2014) ...
number of grib files used: 30
Traceback (most recent call last):
  File "/home/zzd/.conda/envs/mintpy/bin/tropo_pyaps3.py", line 8, in <module>
    sys.exit(main())
  F

[2022-08-17 20:58] KASHKASHOPTIMUS opened #831 "smallbaselineApp.py cannot find ifgram.h5 file"
Steps to reproduce the behavior:

From Aria-Tools Github repo
1.Run commands as per instructions given in jupyter docs for Insar time series analysis using mintpy and aria products
On Anaconda Prompt run command python ariaDownload.py -b "29.465237 30.051789 -96.253476 -94.613767" -m 30 -l 36 -s
20180101 -e 20211231 -o Download
2. After download another command on the anaconda prompt python ariaTS

[2022-08-18 14:20] nadiahassanpour commented on #331
Dear Yunjunz, Is there a script like 'save_qgis.py' to save text or CSV?

[2022-08-19 13:35] Arctic-Ambrun opened #832 "Bug report when processing hyp3 with bridging method in correct_unwrap_error"
**Description of the problem**

Seems there`s no [ connectComponent ] when using bridging method with data build with hyp3 products.
https://github.com/insarlab/MintPy/blob/36a083521b39d9fb557741f9c5d703b7e42448c3/mintpy/unwrap_error_bridging.py#L243

the ccName need to be transfered as 'unwrapPhase' above the Line 243

My suggestion is to add the judgment of hyp3  product, or maybe the issue due

[2022-08-20 07:24] Arctic-Ambrun commented on #832
After changing the dataset name from 'connectComponent' to 'unwrapPhase'

[2022-08-20 11:19] Arctic-Ambrun commented on #832
@yunjunz Dear Yunjun, May I ask a question? Does hyp3 product contains  conn comp file? It is werid that some of the bridging file is written but some were failed. An image was uploaded named unwrapPhase_bridging_1.pn
![unwrapPhase_bridging_1](https://user-images.githubusercontent.com/81725312/185743553-f6a3c7d8-816a-4d20-bab8-f3e0133b6b5d.png)
g

[2022-08-20 11:25] Arctic-Ambrun commented on #832
maybe I`m wrong, the hyp3 product does not contains connectComponent data, so for HYP3 The process is stoped??

[2022-08-20 17:27] yunjunz commented on #832
HyP3 InSAR products are generated using Gamma, which does not provide connected components info. Thus, the phase unwrapping error correction methods can not be used.

The same constraint applies to Gamma, GMTSAR also, as far as I am aware. https://mintpy.readthedocs.io/en/latest/dir_structure/#asf_hyp3

[2022-08-20 17:31] yunjunz commented on #831
Hi @KASHKASHOPTIMUS, could you re-run the loading process using the `prep_aria.py` command as printed out in the terminal message? This will give a more informative trace-back msg regarding the error.

[2022-08-20 17:34] yunjunz commented on #830
This seems likely to be caused by different sizes between the loaded interferograms and loaded geometry datasets. Please make sure they are all in the same grid, i.e. same spatial extent/coverage, same spatial resolution, and same row/column number.

[2022-08-21 07:26] zNevermind commented on #830
Thank you for your help. I will try it.

[2022-08-22 01:58] Arctic-Ambrun commented on #832
Thank you for your kindhearted help, Mr.Yunjun

[2022-08-22 01:58] #832 closed

[2022-08-22 11:12] miladmz opened #834 "no effect for mintpy.network.perpBaseMax"
I set mintpy.network.perpBaseMax = 300 but I think it has no effect on interferograms :
I plot the network and the max perpendicular baseline is  1636.72 m
![1](https://user-images.githubusercontent.com/43873834/185908559-eba63390-2e64-44c4-82a8-fdd0f63bafda.png)

also, mintpy.network.tempBaseMax = 73 and again no effect :
max temporal baseline: 48.0 days
I download data from ARIA and they have 3

[2022-08-22 20:44] KASHKASHOPTIMUS commented on #831
Hey yunjunz prep_aria.py is giving me a GDAL cannot open file, please check if the syntax is correct
![nmm](https://user-images.githubusercontent.com/107583734/186015364-4b1a7b18-8382-4f23-a174-591e6091f151.JPG)

[2022-08-22 23:59] KASHKASHOPTIMUS commented on #831
Also I would like you to know, with the Aria-tools installation I came across a bug which is setmetadatitem to update mode. I think Gdal is not able to read data as it is not in update mode

[2022-08-23 20:13] KASHKASHOPTIMUS commented on #831
![new err](https://user-images.githubusercontent.com/107583734/186256554-deaac5f5-8106-45ef-b30c-9d3baee88e1d.JPG)

Hey this is a new error I am getting with smallbaselineApp.py <customtemplate> --dostep load_data

[2022-08-26 03:06] #830 closed

[2022-09-10 07:21] pbrotoisworo opened #844 "specify display unit for save_kmz_timeseries.py"
**Description of the desired feature**

Can we add a parameter to change the display unit for `save_kmz_timeseries.py`.  I notice that `save_kmz.py` has an argument for unit but I do not see the same option for `save_kmz_timeseries.py`. It is hard coded to be centimeters only.

**Is your feature request related to a problem? Please describe**

**Describe the solution you'd like**
Add display unit

[2022-09-11 21:18] yunjunz commented on #834
Please follow the bug report template (https://github.com/insarlab/MintPy/blob/main/.github/ISSUE_TEMPLATE/bug_report.md) to provide enough information to facilitate the diagnose and error re-production.

[2022-09-11 21:26] yunjunz commented on #831
The syntax does not look right to me, please double check with the help from `prep_aria.py --help`.

I am not familiar with this issue. `gdal` is required to load ARIA products, so you may want to communicate with the ARIA team and resolve your installation issue.

Close this issue as it does not seems related to mintpy itself.

[2022-09-11 21:26] #831 closed

[2022-09-11 21:33] yunjunz commented on #844
HI @pbrotoisworo, this sounds good to me. Please feel free to go ahead and implement it.

As you may have seem that `save_kmz_timeiseries` is much complicated than `save_kmz`, so please ensure all the units of velocties and time-series displacements are converted. And don't hesitate to let me know if you have questions.

[2022-09-13 12:08] Arctic-Ambrun opened #847 "How to create a watermask file when using ISCE with stackSentinel?"
I used createWaterMask.py, turns out to show that there`s not lat.rdr.xml and lon.rdr.xml
Is there and other methods to obtain a watermask file? or what kind of the water mask file is required?

[2022-09-13 17:35] bbuzz31 opened #848 "failed inversion with specified reference point"
Inversion during `timeseries2velocity.py` can fail if reference point is set and processing occurs in patches.

For some pixel y=1047, x=919, then to reproduce run:
1) `reference_point.py timeseries.h5 -y 1047 -x 919`
2) `timeseries2velocity.py timeseries.h5 --ref-yx 1047 919`

This will error out with:
`IndexError: index 1047 is out of bounds for axis 1 with size 947.`

Note that timeseries is si

[2022-09-18 23:45] yunjunz opened #850 "`lookup_geo2radar.py` is not working"
**Description of the problem**

Hi @ymcmrs, the `lookup_geo2radar.py` does not seem working for me, as shown in the error message below. Are you actively using this script? If not, we should either move this script to `mintpy/legacy` folder or remove it from the repo?

This script is using `tqdm` for the progress bar. Is it possible to replace it usage with `mintpy.utils.ptime.progressBar` object

[2022-09-22 22:03] yunjunz commented on #847
Here are two methods to create a water mask for mintpy processing:

https://github.com/insarlab/MintPy-tutorial/blob/main/applications/water_mask.ipynb

[2022-09-22 22:03] #847 closed

[2022-09-25 01:41] mohseniaref opened #855 "Resource temporarily unavailable"
**h5 file reading/writing issue**

Dear all,

I am dealing with ifgramStack.h5 file and I am facing this error for first time, I even changed h5py from 2.10 to latest version but still this following error exist. I don't see any application to use ifgramStack.5 file and the error doesn't make sense to me. Any idea how to deal with it?

Thanks in advance for your response!

**Full script that gener

[2022-09-30 03:54] yunjunz commented on #855
@mohseniaref I agree that using the Python `with` statement is a better option. Could you confirm if that resolves the issue you have?

[2022-09-30 04:10] yunjunz commented on #848
Hi @bbuzz31, `timeseries2velocity.py` is reading the reference pixel value using an independent call of `readfile.read()` as below. So the reference point can be outside of the box/patch/chunk in multi-patches processing.

https://github.com/insarlab/MintPy/blob/5eb88579390da078a9f34b9482f01ea17dc360b9/mintpy/timeseries2velocity.py#L240-L245

I was testing using the San Francisco dataset here (htt

[2022-09-30 22:00] #834 closed

[2022-10-01 03:05] sar26 opened #857 "Possible error with reading ASF hyp3 azimuth angle data"
Hi @yunjunz, @jhkennedy,

Raised from MintPy group conversation: [https://groups.google.com/g/mintpy/c/ql2D1t8D-kw/m/yycRhtT3BQAJ](url)

Using MintPy version 1.4.1, downloaded from conda.

Appears to be an issue with how the ASF hyp3 azimuth angle information is handled in MintPy.

I need to use `asc_desc2horz_vert.py` to resolve up-down, east-west motion for a large area, so I need to use the azi

[2022-10-06 05:31] mcontk opened #859 "KeyError: 'DATE12' smallbaselineApp.py for gmtsar"
I have installed mintpy1.4.1 via conda linux, I'm using gmtsar6.2 as preprocessor and I get the following error when executing
smallbaselineApp.py.  This process runs without problem on Macos Monterey, however on linux I have KeyError: 'DATE12'.

number of unwrapPhase     : 223
number of coherence       : 223
Traceback (most recent call last):
  File "/home/cyclo/miniconda3/envs/mintpy/bin/smallba

[2022-10-07 05:56] yunjunz commented on #859
Hi @mcontk, the `DATE12` metadata is generated by `prep_gmtsar.py`. I guess there is a warning message there, could you confirm?

If so, please manually run the `prep_gmtsar.py` command as printed out before that warning msg, so that we could get a more detailed diagnose.

[2022-10-07 06:07] yunjunz commented on #857
The azimuth angle in mintpy is following the isce2 convention (band2 of the los.rdr/geo file), which is defined as the azimuth angle of the LOS vector (from the ground to the SAR platform) measured from the north, with anti-clockwise direction as positive ([note](https://github.com/insarlab/MintPy/blob/38a98914bbac50630916d59bc2c0f79d66ca3eb8/mintpy/utils/utils0.py#L535)). Thus, a typical value fo

[2022-10-07 18:01] jhkennedy commented on #857
@yunjunz we'll have a look

[2022-10-07 18:39] cirrusasf commented on #857
In hyp3-gamma InSAR product, the LV_PHI is defined as the angle between the East direction and the projection of the look vector on the horizontal surface plane. Compare with the definition of azimuth angle in Mintpy, we can get the formula: LV_PHI_mintpy=3PI/2 +LV_PHI_hyp3

[2022-10-07 23:57] yunjunz commented on #857
Here are two examples of azimuth angles I have, for your reference:

+ Sentinel-1 ascending track 149
![SenA149](https://user-images.githubusercontent.com/13143710/194676421-da2aea7f-fce9-4082-9108-090291b6eefd.png)

+ Sentinel-1 descending track 156
![SenD156](https://user-images.githubusercontent.com/13143710/194676423-4be9e324-3f7d-4cc8-b5cb-774419cfa558.png)

@cirrusasf This formula can not ex

[2022-10-08 00:18] sar26 commented on #857
@cirrusasf @yunjunz , I can send you the geometryGeo.h5 files if that helps? They are too large to attach here though.

[2022-10-09 02:46] bjmarfito opened #861 "Error when running remove_ramp.py"
**Description of the problem**

The remove_ramp.py produces an error when I include a mask file generated from generate_mask.py.

**Full script that generated the error**

[code]

**Full error message**

[code]

**System information**

* Operating system: CentOS 7
* Python environment: conda
* MintPy version: b71a6cf9c4dbdb675a10801a8226605967bda650
* Your custom / default template file (if the bu

[2022-10-09 22:50] #861 closed

[2022-10-09 22:51] yunjunz commented on #861
Thank you @bjmarfito for finding out about this issue, it's fixed by the PR above. Cheers.

[2022-10-10 19:08] forrestfwilliams commented on #857
Hi @sar26, yes it would be helpful if we could look at the data you're using. Can you either post a link here or send it to ffwilliams2@alaska.edu?

[2022-10-10 20:14] forrestfwilliams commented on #857
If you apply this conversion to your files, do you get reasonable angles?
[code]

[2022-10-10 20:30] yunjunz commented on #857
Thank you @forrestfwilliams, your formula works! I will issue a PR for this fix.

[2022-10-10 20:56] yunjunz commented on #857
Following the formula from @cirrusasf and @forrestfwilliams, I have updated the code in #865. But I don't have test data at hand, @sar26 could you try the PR and confirm if it works?

[2022-10-11 00:37] cirrusasf commented on #857
@sar26 Can you tell us what pairs you are working on. The images (one ascending, one descending) you posted before look about right.

[2022-10-11 18:36] yunjunz commented on #850
Thank you @ymcmrs for the checking. This is very helpful: I thought the script is not working ;) Since you are using it, it is useful to keep it as it is then.

I would suggest either adding the support or printing out a message saying "subset dataset is NOT supported" in this scenario.

Yes please, whenever you got a chance.

[2022-10-12 03:54] SarahBrennand commented on #857
@yunjunz I'm having some problems testing the code, it could be to do with my setup, but not sure.

I've created a new conda environment and cloned your branch (to keep it separate from my running code). The HPC environment I use requires me to add the path to the mintpy directory into the scripts so it can find them when running PBS jobs. I used to use this setup with no problems, but recently ch

[2022-10-12 04:29] yunjunz commented on #857
Hi @SarahBrennand, I guess you installed both the released version of mintpy from conda-forge and setup the path to the developed version from my branch, this caused the path conflict. The solution is to install the developed version, following the installation on GitHub, which will install the mintpy dependencies (without mintpy itself) via conda, then install the mintpy itself (my branch in this

[2022-10-12 12:46] SarahBrennand commented on #857
@yunjunz Thanks, I was missing the `-e` option in the pip install.

It runs successfully and the results are plotted below.  The values are now closer in range as LOS azimuth calculated in my original post above (~ +/- 102 degrees).

T009A - data range: [-90.0, 105.2099] degree
azimuth angle (default plot)
![azimuthAngle-asc](https://user-images.githubusercontent.com/65927542/195344043-43416d08-a4

[2022-10-12 17:06] yunjunz commented on #857
Thanks @SarahBrennand, these look all reasonable to me. It seems the no-data-value in `lv_phi` from hyp3 is 0, we should mask it out automatically for convenience. Could you also plot the `incidenceAngle` from `lv_theta`, so that I could check its no-data-value too?

[2022-10-13 01:52] SarahBrennand commented on #857
@yunjunz, here are the incidence angle results:

T009A - data range: [30.422287, 90.0] degree
incidence angle (default plot)
![incidenceAngle-asc](https://user-images.githubusercontent.com/65927542/195479874-79f12759-19b8-4135-bf28-9e7dac499907.png)

T009A - data range: [30.422287, 45.446682] degree (masked 90 values)
![incidenceAngle-asc_masked](https://user-images.githubusercontent.com/65927542/

[2022-10-13 02:34] yunjunz commented on #857
Thank you @SarahBrennand for the testing, this is helpful to validate the detail.

Close this issue as the PR is merged.

[2022-10-13 02:34] #857 closed

[2022-10-15 11:47] TonySl opened #870 "miniforge m1 mac UnsatisfiableError with mintpy package"
**Hi, thanks for developing this very useful package. I use miniforge on m1 mac Monterey 12.6. When I install the mintpy package, I got an error**

**Full script that generated the error**

[code]

**Full error message**

[code]

**System information**

miniforge  m1 mac  Monterey    OSX/12.6

[2022-10-15 12:57] bjmarfito commented on #861
Thank you @yunjunz. It fixes the error but the area of the output is different when I deramped it. I attached the two images whoch are IFG before and after deramping for your reference.
![Before_deramping](https://user-images.githubusercontent.com/21336508/195987634-cf5bb12e-9145-4fb2-8600-e6fa21d6cdfb.png)
![After_deramping](https://user-images.githubusercontent.com/21336508/195987636-10028afc-39

[2022-10-15 18:33] jhkennedy commented on #870
@TonySl I see you have python 3.8 specified, but the conda install is looking at python 3.9. Can you try specifying python 3.9?

Also, support for the M1 mac is still a work in progress so you may want to try the Rosetta x86 emulation and install it in an x86 environment:

https://towardsdatascience.com/how-to-manage-conda-environments-on-an-apple-silicon-m1-mac-1e29cb3bad12

[2022-10-15 22:37] yunjunz commented on #861
Hi @bjmarfito, I agree that the `geo_filt_msk_noref_deramp.unw` does not make sense, however, I could not re-produce this issue (my testing on the *.unw file using the Fernandina example dataset works as expected). Could you try to debug this and/or provide more description and data?

[2022-10-16 02:48] bjmarfito commented on #861
Hi @yunjunz, thank you for your suggestions. Yeah, I will find the cause of this issue and debug it first.

I used alosStack to generate this output from a pair of ALOS-2 ScanSAR data. Then, I deramped the unwrapped interferogram. I can provide you the data once I can't solve the issue myself.

[2022-10-16 04:33] marcontk commented on #859
(mintpy) smallbaselineApp.py LagMauleSenDT83.txt

___________________________________________________________

  /##      /## /##             /##     /#######
 | ###    /###|__/            | ##    | ##__  ##
 | ####  /#### /## /#######  /######  | ##  \ ## /##   /##
 | ## ##/## ##| ##| ##__  ##|_  ##_/  | #######/| ##  | ##
 | ##  ###| ##| ##| ##  \ ##  | ##    | ##____/ | ##  | ##
 | ##\  # | ##|

[2022-10-16 07:16] TonySl commented on #870
Thanks! Changing to python 3.9 gave the same error but x86 emulation works!

[2022-10-16 08:55] bjmarfito commented on #861
Hi @yunjunz, I already find the issue. The issue is that the writefile.py recognizes the no. of bands as 1 instead of 2 for the .unw file after deramping. I will submit a PR to propose a fix for this one.

[2022-10-16 17:48] yunjunz commented on #861
That's great @bjmarfito, and thank you for the fix! `alosStack` write `.unw` file in 1-band, instead of the commonly used 2-band format. MintPy could read this difference adaptively, but the writing part is fixed to 2-band only.

[2022-10-17 02:59] bjmarfito commented on #861
Hi @yunjunz, thank you for merging my PR. However, I found out that the deramping makes the magnitude data same with the phase data. alosStack also outputs 2-band which contains the magnitude and phase.

Before deramping
<img width="1601" alt="Screenshot 2022-10-17 at 10 58 24 AM" src="https://user-images.githubusercontent.com/21336508/196079797-ea24bc97-86db-4637-a24e-3e3792cc09b2.png">

After de

[2022-10-17 22:08] yunjunz commented on #861
@bjmarfito this is expected, and okay for interferometry, as the interferogram amplitude data is not used anymore anyway.

[2022-10-18 01:34] bjmarfito commented on #861
You're right. Thank you @yunjunz!

[2022-10-18 04:23] javjrg opened #872 "`mintpy.geocode.SNWE = []` typo induced error"
**I try to run the model using geocode following the configuration:**

[code]

**But I have the following error:**

[code]

**Do you have any idea what could be going on?**

**Thanks a lot**

**System information**

* Operating system: macOS
* Python environment: manual,
* MintPy version: 1.4.1-16, date 2022-10-09
* Your custom / default template file (if the bug is related to a specific dataset):

[2022-10-19 00:34] yunjunz commented on #872
Using `mintpy.geocode.SNWE         = -27.48,-27.45,-70.29,-70.26` without the `[]` should fix the issue.

I will issue a PR to tolerate (auto fix) this common typo in the future.

[2022-10-19 01:09] yunjunz commented on #872
This is a common typo, due to our specific doc style. Let's keep this issue open to remind me of issuing the PR.

[2022-10-19 21:05] #872 closed

[2022-10-20 00:37] marcontk commented on #859
Resolved. For some reason SAT_baseline of gmtsar 6.2 writes strange characters in the first line of baseline.txt.

Ü ≠˚SC_identity = 10
lon_tie_point =  -70.507878
lat_tie_point =  -35.974516
SC_vel              = 7180.674026000000
SC_height           = 710500.039365506731
SC_height_start     = 710473.846000434831
SC_height_end       = 710525.900243796408
earth_radius        = 6370287.340828999877

[2022-10-25 17:58] hippopaul opened #878 "`smallbaselineApp.py --plot` fails"
I run smallbaselineApp.py --plot to generate plots but it fails

**Full script that generated the error**

[code]
PASTE ERROR MESSAGE HERE
[code]

[2022-10-25 20:41] taliboliver commented on #878
Hi @hippopaul, I haven't look in detail to this error but I noticed that the script goes over two template files, backup and current. In your case one of them is empty. Try making a copy of your config file using a different name and run again. For example if your original config file was "smallbaselineApp.cfg" copy it to something like "myproject.cfg" and then run smallbaselineApp.py myproject.cf

[2022-10-25 21:04] hippopaul commented on #878
Hi Talib!

Many thanks. Your suggestion works.
Cheers,
Paul

[2022-10-26 00:30] #878 closed

[2022-10-26 00:31] yunjunz commented on #878
Thank you @hippopaul for the bug reporting. It's now fixed in #879. Cheers!

[2022-10-26 04:17] yunjunz commented on #859
Close this issue as the cause has been identified and is out of mintpy.

[2022-10-26 04:17] #859 closed

[2022-10-26 18:38] hippopaul commented on #878
Thanks Yunjun!

[2022-10-28 22:01] mohseniaref opened #880 "view.py problem in new version"
**View.py Problem**

Dear all,

I can not see output from view.py in the new version. Any idea how to solve it? I have tried few solution from https://stackoverflow.com/ but the solutions didn't work for me so far!

Best regards,
Mohammad

**View.py velocity.h5**

[code]

[2022-11-02 00:45] mohseniaref commented on #880
Adding to previous post

[code]

[2022-11-02 00:49] yunjunz commented on #880
Hi @mohseniaref, please follow the [bug report template](https://github.com/insarlab/MintPy/blob/main/.github/ISSUE_TEMPLATE/bug_report.md) to fill in enough info for a meaningful diagnose.

[2022-11-02 03:50] yunjunz opened #882 "`pip -e` installed `mintpy.__file__ = None` when there is a `mintpy` folder in current dir"
**Description of the problem**

For `mintpy` installed in the editable mode using `pip`, when there is a folder named `mintpy` in the current data directory, Python would misidentify the `mintpy` folder as the module location; and result in a `TypeError` while running, as shown in the example commands below. Any idea how to fix this?

This only happens when mintpy is installed via `pip install -e`

[2022-11-02 04:15] yunjunz commented on #855
Close this issue since the proposed solution is completed.

[2022-11-02 04:15] #855 closed

[2022-11-02 15:17] scottstanie commented on #882
Thanks for figuring out that the empty directory was the cause of this; I had this pop up a couple months ago and was baffled, but it seemed to go away (probably when I changed directories lol).

Apparently this is from the newish [namespace package](https://docs.python.org/3/glossary.html#term-namespace-package), which I found out from this https://stackoverflow.com/questions/49082100/python-impo

[2022-11-02 17:24] scottstanie commented on #882
I did a little more poking around and figured out that this can be solved by adopting a `src/` layout... but I'm not sure which sounds more painful to you:
1. reorder the mintpy code structure to [use a src/ layout](https://setuptools.pypa.io/en/latest/userguide/package_discovery.html#src-layout)
2. tell people not to create a `mintpy/` folder where you are running mintpy things with an editable i

[2022-11-02 17:31] jhkennedy commented on #882
@scottstanie I think a `src` layout is the approach here. I'd be happy to open a PR; shouldn't be too huge of a lift.

[2022-11-02 17:43] yunjunz commented on #882
Thank you @scottstanie for figuring out the solution! I agree with @jhkennedy that the `src` layout is perfectly fine, this gives us the motivation to switch also. @jhkennedy please feel free to open a PR for this.

[2022-11-02 21:38] MohamedAbdrabou2022 opened #884 "I downloaded about 230 pairs from HyP3, and I need to run Mintpy for them to see displacement with time. So, I have these inquiries:-"
**Description of the desired feature**

**Is your feature request related to a problem? Please describe**

**Describe the solution you'd like**

**Describe alternatives you have considered**

**Additional context**

**Are you willing to help implement and maintain this feature?**

- [ ] Yes
- [ ] No

[2022-11-02 21:50] asjohnston-asf commented on #884
The [hyp3-sdk](https://pypi.org/project/hyp3-sdk/) package supports working with HyP3 jobs using Python, and includes a utility function for unzipping the files after they've been downloaded. See the `hyp3_sdk.util.extract_zipped_product()` function in our [SDK reference](https://hyp3-docs.asf.alaska.edu/using/sdk_api/#hyp3_sdk.util.extract_zipped_product)

[code]

That function uses the Python [Z

[2022-11-02 21:55] asjohnston-asf commented on #884
ASF also provides a [Time series analysis with HyP3 and MintPy](https://nbviewer.org/github/ASFHyP3/hyp3-docs/blob/main/docs/tutorials/hyp3_insar_stack_for_ts_analysis.ipynb) Notebook in our [Tutorials](https://hyp3-docs.asf.alaska.edu/tutorials/) that demonstrates the entire workflow in Python, from finding InSAR pairs, running those jobs in HyP3, downloading the interferograms, and generating th

[2022-11-03 00:35] MohamedAbdrabou2022 commented on #884
I downloaded the data and unzipped them, what is the next steps for generating the time series using MintPy?

[2022-11-03 00:35] MohamedAbdrabou2022 commented on #884
@asjohnston-asf

[2022-11-03 17:29] mohseniaref commented on #880
Mintpy was not correctly set. I will close this issue. The error was fixed!

[2022-11-03 17:30] mohseniaref commented on #880
Mintpy was not correctly set. I will close this issue. The error was fixed!

[2022-11-03 17:30] #880 closed

[2022-11-06 06:42] EJFielding opened #891 "ISCE2 StripmapStack load_data looking for ionUnwFile"
**Description of the problem**

I am trying to load the data from a UAVSAR stack that was processed with ISCE2 stripmapStack workflow. It seems to require `mintpy.load.ionUnwFile` that is never generated for UAVSAR processing.

**Full script that generated the error**

[code]

**Full error message**

[code]

**System information**

* Operating system:  Linux-CentOS
* Python environment:  conda
* M

[2022-11-06 20:01] yunjunz commented on #891
The default template fie `smallbaselineApp.cfg` is required in the input, while the custom template file, `Haywrd_15302_03-s2-UAVSAR.txt` in your case, is optional.

This is shown in the `load_data.py -h` examples. Let's keep this issue open to remind me to add a checking and show this msg directly in the future PR.

[2022-11-06 20:37] EJFielding commented on #891
Thanks for the clarification. I tried doing the load with the full configuration file and get a different error:
[code]

[2022-11-06 20:39] EJFielding commented on #891
I see it says the `prep_isce.py` failed, so I ran that directly and see an error:
[code]

[2022-11-06 21:30] yunjunz commented on #891
I guess this is a similar issue I had before with `shelve` (https://github.com/insarlab/MintPy/pull/384). Using `shelve` is a bad choice in isce2. The easy way out should be running `prep_isce.py` in the same python env where you ran the UAVSAR stack.

[2022-11-06 22:37] EJFielding commented on #891
Thanks for the suggestion. I am trying to install MintPy in the same environment as the ISCE2 environment that I used. It is taking a long time to "solve". I have a conda environment with both ISCE2 and MintPy installed, but it is about a year old so not likely to work with the newly processed data.

[2022-11-07 00:05] EJFielding commented on #891
I see that my `isce2` environment that I use to run ISCE2 programs is using Python 3.7, so the newer Python versions changed something in the way that "shelve" is implemented. Now I have to see if I can get MintPy installed into that older environment.

[2022-11-07 00:18] falkamelung commented on #891
I am installing ISCE with mamba as it did not work for me with conda (it was solving things forever). For MintPy conda works fine for me.

[2022-11-07 04:21] yunjunz opened #892 "abnormal large residual from `dem_error` for `timeseries_rms`"
With the default minization in `dem_error.py` switched from `phase` to `phase velocity` in #875, I noticed the time-series residual after `dem_error` got much bigger for one dataset I have, as shown below. Although this change of behavior is reasonable given their different objective functions, they are not suitable anymore for the following `timeseries_rms` step in `smallbaselineApp`.

The right

[2022-11-07 16:57] falkamelung commented on #892
The one example we looked at in detail (Miami full-res) you absolutely need phase velocity. And isn't that what we would expect? I have to look at the paper again, but don't Fattahi&Amelung 2013 make the case that phase velocity needs to be used?   Can you remind us what was the rationale to use phase minimization  in MintPy?

[2022-11-07 18:30] yunjunz commented on #892
One could always manually turn ON the phase velocity whenever they need it. My purpose here is to not disturb other steps outside of `correct_topography`.

[2022-11-07 20:13] mirzaees commented on #892
Hi @yunjunz!
After spending some time on this to understand why it is happening, I believe there might be another bug in the calculation of design matrix (G_defo):
https://github.com/insarlab/MintPy/blob/64ffdefa14cdff5c1024bb522a7f6f1e79de1103/mintpy/utils/time_func.py#L285-L286
I checked it for polynomial model (you might want to check other deformation models as well), I think it should be like

[2022-11-08 05:00] wsjbest opened #900 "save_gmt.py geo_velocity.h5"
**Description of the problem**

when I run the save_gmt.py  geo_velocity.h5, I do not find the pre_gmt.py  in the mintpy and maybe same script is defect.

**Full script that generated the error**

[code]

**Full error message**

[code]

**System information**

* Operating system: Linux-Ubuntu 20.04
* Python environment: 3.8
* MintPy version: Version 1.4.1

[2022-11-08 06:04] yunjunz commented on #892
Thank you @mirzaees for looking into this. For a polynomial with an order of 3, the math form should be:

[code]

Thus, I think the current `mintpy.utils.time_func.get_design_matrix4polynomial_func()` is correct. Nevertheless, I don't think the coefficient scale of the time function will affect the least-squares fitting, as the estimated coefficient itself will be scaled proportionally.

Let me tr

[2022-11-08 07:00] yunjunz commented on #900
Thank you @wsjbest for reporting the issue. It's a typo and has been fixed in #901. Cheers!

[2022-11-08 07:17] #900 closed

[2022-11-08 07:17] #891 closed

[2022-11-08 16:37] mirzaees commented on #892
Hi @yunjunz, I agree that your solution might fix this problem but still something is wrong with the design matrix, although the effect might be negligible in the displacement timeseries estimation.

according to equation 7 (Fattahi and Amelung, 2013) the constant term (c0) is the last one (psi) which usually goes to the left side of the equation in the unknowns calculation. The unknown vector is

[2022-11-08 19:38] yunjunz commented on #882
Given the approaching of AGU, I would like to do this big change sooner than later. @jhkennedy if you have not started on this yet, I could take over and issue a PR soon. Let me know please.

[2022-11-08 19:54] yunjunz commented on #892
Hi @mirzaees, I adjusted the order of the design matrix "A" in the code from Fattahi & Amelung (2013), to support generic poly order and other time functions. One example is shown in equation (S3) in Yunjun et al. (2019). Below is the design matrix for "phase" G0 and for "phase velocity" G, and they both look reasonable and consistent with Fattahi & Amelung (2013) to me. I would be happy to be pro

[2022-11-08 20:12] mirzaees commented on #892
@yunjunz I don't have a problem with changing defaults as you wish but G0 is wrong.
There should not be a column of 1 in G0 and a column of 0 in G. They should be coefficients of C1, C2, C3 and Z
C0 is not an unknown to have coefficient in the design matrix

@hfattahi could you please comment on this? maybe I am wrong

[2022-11-08 20:32] jhkennedy commented on #882
@yunjunz The week got away from me last week and I didn't do anything significant to start it. Feel free to start it and I'll happily review it. Or I should be able to get to it later this week.

[2022-11-08 20:56] yunjunz commented on #892
@mirzaees for "phase" minimization with G0, `c0` is unknown based on my understanding. The zero value in G corresponds to c0, and does not affect the inversion; I kept it there for the convenience of matrix operation. All these can be tested and validated in code, aren't they?

[2022-11-08 21:16] mirzaees commented on #892
@yunjunz well the matrix operation does not become convenient this way. Obviously you have a rank deficient matrix and residuals are abnormal. whereas for me after correcting the matrix, everything looks fine. C0 is not unknown, that is a constant and in the inversion it is estimated as residual

[2022-11-09 15:39] MohamedAbdrabou2022 opened #904 "Can I apply mintpy time-series SBAS to my data online using jupyter?"
I downloaded SAR data from HyP3 on demand ASF. I need to apply time-series SBAS. Any suggestions to do that as I have 236 pairs.

[2022-11-09 16:24] jhkennedy commented on #904
@MohamedAbdrabou2022 you have already opened an issue for this and it was converted to a discussion:
https://github.com/insarlab/MintPy/discussions/885

 Please keep the discussion there.

[2022-11-09 16:24] #904 closed

[2022-11-09 21:14] #882 closed

[2022-11-10 08:36] mirzaees commented on #892
Hi @Yunjun
thank you for helping me understand your point and now I agree with you
we can calculate the correct dem error std with removing the zero column in G
but we simply cannot calculate the timeseries residuals using phase velocity history, and the solution is as you mentioned to calculate them after velocity step
So what you did makes sense to set default on phase history temporarily

[2022-11-11 05:03] yunjunz commented on #892
Great discussion with you offline @mirzaees, now we are on the same page with all the details. I issued the PR above for the all-zero column removal. Review it when you got a chance please.

Here is what we agreed on: the polynomial function used in the phase history minimization should have the constant `c0` as an unknown parameter, which could be estimated during the least squares inversion; how

[2022-11-12 06:23] #892 closed

[2022-11-16 07:32] #683 closed

[2022-11-16 21:49] EJFielding commented on #683
Thanks for adding this.

[2022-11-27 20:41] EJFielding commented on #891
I created a new Anaconda environment and installed both `isce2` and `mintpy` from `'conda-forge`. This worked well. I reran the UAVSAR processing in this environment and had no trouble loading it into MintPy in the same environment.

[2022-11-28 15:04] marcontk opened #919 "TypeError: Can't broadcast (smallbaselineApp.py and gmtsar)"
**Description of the problem**

I am using gmtsar and when running smallbaselineApp.py it stops with some file coherence. The output is shown below

**Full script that generated the error**

[code]

**Full error message**

[code]

**System information**

* Operating system: macOS (12.6.1 , Monterey)
* Python environment: conda
* MintPy version: MintPy version 1.4.1, date 2022-08-15
* Your custom /